<% provide(:title, 'Facility Grading') %>

<div class="container-fluid">
  <div class="row">
    <div class="routelist-header bg-blue-gradient">
      <h1> Grading </h1>
    </div>
  </div>
  <div class="row">
    <%= render 'grades/facility_grade_system', object: @grade_systems %>
  </div>
</div>
