<% provide(:title, current_user.name + ' Edit Tick') %>

<div class="row">
  <%= render 'users/user_stats2' %>
</div>

          <% if @tick.route_id.present? %>

          <%= render(
          partial: 'routes/route',
          locals: { f: @route }
          ) %>

          <%= render(
          partial: 'ticks/edit_route_tick_form',
          locals: { tick: @tick }
          ) %>

          <% else %>

          <%= render(
          partial: 'ticks/form',
          locals: { tick: @tick }
          ) %>

          <% end %>
