<% provide(:title, 'Ticks') %>

<div class="container">
  <div class="routes">
    <h1>Ticks</h1>
  </div>
  <br/>
  <div class="row">
    <div class="col-sm-6">
        <%= render 'ticks/form', object: @ticks %>
    </div>
  </div>
</div>
