<% provide(:title, current_user.name + ' New Ascent') %>

<div class="container-fluid">
  <div class="col-sm-12">
    <div class="row">
  <%= render 'ticks/new_partial', object: @user_tick_feed %>
    </div>
  </div>
</div>
