<% provide(:title, 'Ticks') %>

<div class="container-fluid">
  <div class="row">
  <div class="gray-labels routeform-header bg-blue-gradient">
    <h1><strong>Ascent</strong>Information</h1>
  </div>
</div>
  <br>

  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <%= render 'ticks/form', object: @ticks %>
      </div>
    </div>
  </div>
</div>
