<% provide(:title, ' Ascents') %>


<div class="row">
  <%= render 'users/user_stats2' %>
</div>

<div class="row">
  <div class="col-sm-12">
      <%= render 'ticks/tick_list_partial' %>
  </div>
</div>
