<div class="container-fluid">
  <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-lg-6 col-lg-offset-3">
    <div class="span7 text-center">
      <div class="row hidden-xs">
        <span><%= button_to "Log in with Facebook", user_facebook_omniauth_authorize_path, class: 'btn btn-facebook btn-sm' %></span>
      </div>
      <div class="row hidden-sm hidden-md hidden-lg hidden-xl">
        <span><%= button_to "Sign in", user_facebook_omniauth_authorize_path, class: 'btn btn-facebook btn-sm' %></span>
      </div>
      <br/>
      <div class="row hidden-xs">
        <span><%= button_to "Log in with Google", user_google_oauth2_omniauth_authorize_path, class: 'btn btn-google btn-sm' %></span>
      </div>
      <div class="row hidden-sm hidden-md hidden-lg hidden-xl">
        <span><%= button_to "Sign in", user_google_oauth2_omniauth_authorize_path, class: 'btn btn-google btn-sm' %></span>
      </div>
    </div>
  </div>
</div>
