        <div class="row">
          <div class="col-xs-12">
            <h1>START SETTING SMART</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-sm-11">
            <p><span class="glyphicon glyphicon-cloud"></span><span class="tab"> Manage your route setting program from anywhere </span></p>
          </div>
          <div class="col-xs-2 col-sm-1">
            <p><span class="glyphicon glyphicon-ok glyphicon-green pull-right"></span></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-sm-11">
            <p><span class="glyphicon glyphicon-list-alt"></span><span class="tab"> Facility route database with unlimited storage</span></p>
          </div>
          <div class="col-xs-2 col-sm-1">
            <p><span class="glyphicon glyphicon-ok glyphicon-green pull-right"></span></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-sm-11">
            <p><span class="glyphicon glyphicon-user"></span><span class="tab"> Unlimited management & setter logins for your team</span></p>
          </div>
          <div class="col-xs-2 col-sm-1">
            <p><span class="glyphicon glyphicon-ok glyphicon-green pull-right"></span></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-sm-11">
            <p><span class="glyphicon glyphicon-tasks"></span><span class="tab"> Set goals and assign tasks</span></p>
          </div>
          <div class="col-xs-2 col-sm-1">
            <p><span class="glyphicon glyphicon-ok glyphicon-green pull-right"></span></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-sm-11">
            <p><span class="glyphicon glyphicon-stats"></span><span class="tab"> Fully integrated analytics</span></p>
          </div>
          <div class="col-xs-2 col-sm-1">
            <p><span class="glyphicon glyphicon-ok glyphicon-green pull-right"></span></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-sm-11">
            <p><span class="glyphicon glyphicon-globe"></span><span class="tab"> Use custom grading or standard outdoor systems</span></p>
          </div>
          <div class="col-xs-2 col-sm-1">
            <p><span class="glyphicon glyphicon-ok glyphicon-green pull-right"></span></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-sm-11">
            <p><span class="glyphicon glyphicon-edit"></span><span class="tab"> Customized route documentation </span></p>
          </div>
          <div class="col-xs-2 col-sm-1">
            <p><span class="glyphicon glyphicon-ok glyphicon-green pull-right"></span></p>
          </div>
        </div>
        <br/>
        <div class="row center">
          <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <%= link_to "Get started for $20/mo", new_user_registration_path, class: "btn btn-save btn-md btn-block" %>
          </div>
        </div>
        <div class="center">No commitment.  Cancel anytime. </div>
        <br/>
        <br/>
        <div class="row center">
          <%= image_tag("Macbook-Screenshot.jpg" ,width: '40%', height: '40%') %><%= image_tag("iphone-screenshot.jpg" ,width: '15%', height: '15%') %>
        </div>
