        <div class="row">
          <div class="col-xs-12">
            <h1>START SETTING SMART</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10">
            <p> Manage your route setting program from anywhere </p>
          </div>
          <div class="col-xs-2">
            <p><span class="glyphicon glyphicon-ok glyphicon-green pull-right"></span></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10">
            <p> Facility route database with unlimited storage </p>
          </div>
          <div class="col-xs-2">
            <p><span class="glyphicon glyphicon-ok glyphicon-green pull-right"></span></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10">
            <p> Unlimited management & setter logins for your team </p>
          </div>
          <div class="col-xs-2">
            <p><span class="glyphicon glyphicon-ok glyphicon-green pull-right"></span></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10">
            <p></span> Set goals and assign tasks </p>
          </div>
          <div class="col-xs-2">
            <p><span class="glyphicon glyphicon-ok glyphicon-green pull-right"></span></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10">
            <p> Fully integrated analytics </p>
          </div>
          <div class="col-xs-2">
            <p><span class="glyphicon glyphicon-ok glyphicon-green pull-right"></span></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10">
            <p> Use custom grading or standard outdoor systems </p>
          </div>
          <div class="col-xs-2">
            <p><span class="glyphicon glyphicon-ok glyphicon-green pull-right"></span></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10">
            <p> Customized route documentation </p>
          </div>
          <div class="col-xs-2">
            <p><span class="glyphicon glyphicon-ok glyphicon-green pull-right"></span></p>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <%= link_to "Get started for $20/mo", new_user_registration_path, class: "btn btn-save btn-md btn-block" %>
          </div>
        </div>
        <div class="row center">
          No commitment.  Cancel anytime.
        </div>
        <br/>
        <br/>
        <div class="row center">
          <%= image_tag("Macbook-Screenshot.jpg" ,width: '40%', height: '40%') %><%= image_tag("iphonemockup.png" ,width: '15%', height: '15%') %>
        </div>
