<%= render 'static_pages/login_buttons' %>

    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
      <div class="span7 text-center">
      <br/>
      <div class="row">
      Don't have either?
      </div>
      <div class="row">
      <%= link_to "Sign up", new_user_registration_path %> | <%= link_to "Log in", new_user_session_path %>
      </div>
    </div>
  </div>
