<div class="home-body">
  <div class="center jumbotron">

    <h1>CLIMB | CONNECT<small> BETA</small></h1>

    <h2>Manage routes | Track your sends | Meet climbing partners | Summer 2016</h2>

  </div>
</div>
