<div class="home-body">
  <div class="center jumbotron">

    <h1>CLIMB | CONNECT<small> BETA</small></h1>

    <h2>Manage routes | Track your sends | Meet climbing partners | January 2017</h2>

    <br/>
    <br/>
    <div class="row">
      <%= render 'static_pages/prelaunch_signup_form', object: @leads %>
    </div>


  </div>
</div>
