<div class="container">
  <div class="home-body">
    <div class="center jumbotron">

      <h1>CLIMBHUB</h1>

      <h2>
        Welcome to Climbhub.  Start tracking your indoor sends, interact with others, and find climbing partners.
      </h2>

      <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
      <%= link_to "Facilities", register_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>
