<div class="container-fluid">
  <div class="home-body">
    <div class="center jumbotron">
      <div class="hidden-xs">
        <h1 id="logo-black">CLIMB | CONNECT</h1>
        <h2>Route Management | Facility Analytics | Ascent Tracking</h2>
        <br/>
      </div>
      <div class="row">
      <% if current_user.present? %>
        <%= render 'static_pages/add_route' %>
      <% else %>
        <%= render 'static_pages/signin_options' %>
      <% end %>
      </div>
    </div>
  </div>
</div>

<% unless current_user.present? && @userfacilities.count > 0 %>

<div class="container-fluid bg-white hidden-xs">
  <div class="marketing">
    <%= render 'static_pages/marketing' %>
  </div>
</div>

<div class="container-fluid bg-white hidden-sm hidden-md hidden-lg hidden-xl">
  <div class="marketing-mobile">
    <%= render 'static_pages/marketing_mobile' %>
  </div>
</div>

<% end %>
