<div class="container-fluid hidden-xs">
  <div class="marketing">
    <%= render 'static_pages/marketing' %>
  </div>
</div>

<div class="container-fluid hidden-sm hidden-md hidden-lg hidden-xl">
  <div class="marketing-mobile">
    <%= render 'static_pages/marketing_mobile' %>
  </div>
</div>
