<div class="hidden-sm hidden-md hidden-lg hidden-xl"><%= render 'static_pages/marketing_mobile' %></div>
  <div class="hidden-xs">
    <div class="container-fluid">
      <div class="home-body">
        <div class="center jumbotron">

            <h1 id="logo-black">CLIMB | CONNECT<small> BETA</small></h1>
            <h2>Route Management | Facility Analytics | Climb Tracking | January 2017</h2>
            <br/>


          <div class="hidden-xs"><%= render 'static_pages/marketing' %></div>


        </div>
      </div>
    </div>
  </div>
