<div class="headliner-line">
<h1>Pricing (Beta)</h1>
</div>

    <div class="container routes">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-10">
            <h1><small>Gym Management Package</small></h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-10">
            <h2><span class="glyphicon glyphicon-ok glyphicon-green"></span><span class="tab">Create and manage your organization</span></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-10">
            <h2><span class="glyphicon glyphicon-ok glyphicon-green"></span><span class="tab">Setup multiple facility locations</span></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-10">
            <h2><span class="glyphicon glyphicon-ok glyphicon-green"></span><span class="tab">Create and manage route setting teams</span> </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-10">
            <h2><span class="glyphicon glyphicon-ok glyphicon-green"></span><span class="tab">Setup custom grading or use standard outdoor grading systems</span></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-10">
            <h2><span class="glyphicon glyphicon-ok glyphicon-green"></span> Create and edit route database </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-10">
            <h2><span class="glyphicon glyphicon-calendar"></span> 1 head facility management account </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-10">
            <h2><span class="glyphicon glyphicon-calendar"></span> 1 head route setter account </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-10">
            <h2><span class="glyphicon glyphicon-calendar"></span> 4 route setter accounts </h2>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <br/>
        <br/>

      </div>
    </div>

    <br/>

    <div class="container routes">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <br/>
        <div class="col-md-3 col-sm-3 col-xs-3">
        </div>
        <%= image_tag("iphone-screenshot.jpg" ,width: '40%', height: '40%') %>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="row">
          <div class="col-md-10">
            <h1><small>Head route setter account</small></h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <h2><span class="glyphicon glyphicon-stats"></span> Powerful Climb Tracking </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <h2><span class="glyphicon glyphicon-list-alt"></span> Custom Training Plans </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <h2><span class="glyphicon glyphicon-fire"></span> Leaderboards and Mini Comps </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <h2><span class="glyphicon glyphicon-comment"></span> Discuss Beta & Provide Feedback on Routes </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <h2><span class="glyphicon glyphicon-user"></span> Meet Climbing Partners </h2>
          </div>
        </div>
      </div>

    </div>
