
<div id="successMessage" style="display: none">
<br>
<br>
</div>

<div id="routeShow">
<%= render(
partial: 'routes/route',
locals: { f: @route }
) %>
</div>


    <%= render 'admin/routes/form', object: @route  %>





<!--
  <div class="row">
    <div class="col-xs-12">
        <%= render 'routes/totalticks' %>
    </div>
  </div>
</div>

-->
