
<%= link_to "edit", edit_admin_facility_route_path(@facility, @route ), class: "btn btn-add" %>

<br>
<br>


<%= render(
partial: 'routes/route',
locals: { f: @route }
) %>




<!--
  <div class="row">
    <div class="col-xs-12">
        <%= render 'routes/totalticks' %>
    </div>
  </div>
</div>

-->
