<% provide(:title, @facility.name ) %>

<div id="bodyTop"></div>

<div class="no-margin">
<%= render 'admin/facilities/facility_stats2', object: @facility %>
</div>

<%= render 'admin/routes/edit_partial' %>
