<% provide(:title, 'Edit Route') %>

<div class="container">
  <br/>
  <div class="row">
    <div class="col-sm-6">
        <%= render 'admin/routes/form', object: @routes %>
    </div>
    <div class="col-sm-6">
      <%= render 'admin/routes/recent', object: @recentroutes %>
    </div>
  </div>
</div>
