<h1>Route Database</h1>

<div id="maincontent">
  <table>
    <tr>
      <th>Zone</th>
      <th>Wall</th>
      <th>Grade</th>
      <th>Route Name</th>
      <th>Color</th>
      <th>Setter</th>
      <th>Set Date</th>
      <th>Exp. Date</th>
    </tr>
    <%= render @routes %>
  </table>
  <br />
  <%= paginate @routes %>
</div>
