<% provide(:title, 'Add routes') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 bg-gray">
      <div class="headliner-line">
        <h1>Add a route</h1>
      </div>
        <%= render 'admin/routes/form', object: @routes %>
    </div>
  </div>
</div>
