<% provide(:title, 'Add routes') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="routes">
        <h1><small>Add A Route</small></h1>
      </div>
        <%= render 'admin/routes/form', object: @routes %>
    </div>
    <div class="col-sm-6">
      <div class="routes">
        <h1><small>Recently Added</small></h1>
      </div>
      <%= render 'admin/routes/recent', object: @recentroutes %>
    </div>
  </div>
</div>
