<% provide(:title, 'Add routes') %>

<div class="container">
  <div class="routes">
    <h1>Add Routes</h1>
  </div>
  <br/>

  <% breadcrumb :addroute, @route %>
  <%= breadcrumbs style: :bootstrap %>

  <div class="row">
    <div class="col-sm-6">
        <%= render 'admin/routes/form', object: @routes %>
    </div>
    <div class="col-sm-6">
      <%= render 'admin/routes/recent', object: @recentroutes %>
    </div>
  </div>
</div>
