
<div class="col-xs-1 col-sm-1 col-md-1 no-print">

  <%= link_to user_facility_roles_path(@user, f), remote: false,
              :method => :delete do %>
              <h3><i class="glyphicon glyphicon-remove"></i></h3>
              <%end %>
</div>
