<div class="container-fluid">
  <div class="row">
    <div class="routelist-header bg-blue-gradient">
      <h1><strong>Competitions</strong></h1>
    </div>
    <br>

    <%= link_to "Create new Competition", new_facility_competition_path(@facility), class: "btn btn-primary btn-med" %>

    <% if @competitions.count > 0 %>
    <br>
    <br>
    <%= render 'competitions/competition_list', object: @competitions %>
    <% end %>

  </div>
</div>

<br>
