<div class="container-fluid">
  <div class="row">
    <div class="routelist-header bg-blue-gradient">
      <h1><strong>Circuits</strong></h1>
    </div>
    <br>

    <div class="pull-right"><%= link_to "Create new circuit", new_facility_competition_path(@facility), class: "btn btn-add btn-med" %></div>

    <% if @competitions.count > 0 %>

    <%= render 'competitions/competition_list', object: @competitions.where('end_date > ?', Date.current), facility: @facility %>

    <%= render 'competitions/competition_list', object: @competitions.where('end_date < ?', Date.current), facility: @facility %>
    <% end %>

  </div>
</div>
