<div id="comp_invite_button<%= user.id %>" class="circle-wrapper">
  <% if CompInvite.where(invitee_id: user.id).count == 0 %>
    <%= link_to invite_user_user_competition_path(user, @competition), method: :post, remote: true do %>
      <div class="">
        <div class="large-circle"><i class="fa fa-plus" aria-hidden="true"></i><span class="text"><%= "invite" %></span></div>
      </div>
    <% end %>
  <% else %>
    <div class="">
      <div class="large-circle green-check"><i class="fa fa-check" aria-hidden="true"></i><span class="text"><%= "invited" %></span></div>
    </div>
  <% end %>



</div>
