<% provide(:title, 'Custom Colors') %>

<div class="container-fluid">
  <div class="row">
      <div class="routelist-header bg-blue-gradient">
        <h1 class="hidden-xs"><strong>Custom</strong>Colors </h1>
      </div>
    </div>
    <div class="row">
        <br>
        <%= render(
        partial: 'admin/custom_colors/form'
        ) %>
        <br/>
        <%= render(
        partial: 'admin/custom_colors/list',
        locals: { custom_colors: @custom_colors }
        ) %>
    </div>
</div>
