<% provide(:title, 'New Color') %>

<div class="container-fluid">
  <div class="row">
    <div class="gray-labels bg-blue-gradient">
      <h1><strong>Custom</strong>Colors</h1>
    </div>

      <%= render 'admin/custom_colors/form', object: @custom_colors  %>

    </div>
  </div>
</div>
