<% provide(:title, 'New Color') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="row">
        <div class="routelist-header">
          <h1>Colors</h1>
        </div>
      </div>

      <%= render 'admin/custom_colors/form', object: @custom_colors  %>

    </div>
  </div>
</div>
