<% provide(:title, 'Add task') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 bg-gray">
      <div class="form-gray">

        <h1>Update Task #<%= @task.task_number %></h1>
      </div>
      <%= form_for [:admin, @facility, @task], :html => {:class => "form-label"} do |f| %>
        <%= render 'admin/tasks/form', object: @tasks, :f => f %>
        <br/>
        <div class="row">
          <div class="col-xs-12">
            <%= f.submit "Save", class: "btn btn-save" %>
          </div>
        </div>
        <% end %>
    </div>
  </div>
</div>
