<div class="row">
  <div class="top10new">
    <h2>Active</h2>
  </div>
<ul class="top10new">
  <% @competitions.where('end_date > ?', Date.current).where('end_date > ?', Date.current).each do |comp| %>
    <%= link_to facility_competition_path(comp.facility_id, comp.id) do %>
      <li>
        <%= image_tag comp.logo_image.url(:medium) ,:class=> "img-user-list-small" %>

        <span class="doubletab"> <%= comp.name %> </span>

      </li>
    <% end %>
  <% end %>
</ul>
</div>
