<div class="row">

<ul class="top10new">
  <% @competitions.current.each do |comp| %>
    <%= link_to facility_competition_path(comp.facility_id, comp.id) do %>
      <li>
        <%= image_tag comp.logo_image.url(:medium) ,:class=> "img-user-list-small" %>

        <span class="doubletab"> <%= comp.name %> </span>

      </li>
    <% end %>
  <% end %>
</ul>
</div>

<br>
<br>
<div class="center">
<%= link_to "Create New Circuit", new_competition_user_path(current_user), class: 'btn btn-green btn-lg' %>
</div>
