<% if @competitions.current.size > 0 %>
<div class="row">
  <div class="top10new">
    <h2>Active</h2>
  </div>
<ul class="top10new">
  <% @competitions.current.each do |comp| %>
    <%= link_to facility_competition_path(comp.facility_id, comp.id) do %>
      <li>
        <%= image_tag comp.logo_image.url(:medium) ,:class=> "img-user-list-small" %>

        <span class="doubletab"> <%= comp.name %> </span>

      </li>
    <% end %>
  <% end %>
</ul>
</div>

<% else %>
<br>
<br>
<div class="center">
<%= link_to "Create New Circuit", new_user_session_path, class: 'btn btn-green btn-lg' %>
</div>

<% end %>
