
<div id="tick_count_<%= f.id %>">
<div class="no-print">
  <div class="col-xs-12">
    <div class="row">


      <%= render(partial: 'routes/quick_project', locals: { f: f }) %>


      <%= render(partial: 'routes/quick_redpoint', locals: { f: f }) %>


      <%= render(partial: 'routes/quick_flash', locals: { f: f }) %>


      </div>
  </div>

</div>


  <div class="hidden-sm hidden-md hidden-lg>"><br></div>


</div>
