<p><strong> Your Facilities:</strong></p>
<% @facility_roles.each do |f| %>
<ol class="profile">
  <li>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <p>
            <%= f.facility.name %><% if f.facility.location? %> - <%= f.facility.location %> <% end %></p>

        </div>
        <div class="col-sm-6">
          <p><%= f.name.humanize %></p>
        </div>
      </div>
    </div>
  </li>
</ol>
<% end %>
