<% provide(:title, "Edit user") %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="headliner-line">
        <h1> Edit your profile</h1>
          <%= render 'users/form', object: @user %>
      </div>
    </div>
  </div>
</div>
