<% provide(:title, "Edit user") %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="gray-labels routeform-header bg-blue-gradient">
          <h1> Your info</h1>
        </div>
      </div>
        <div class="row">
            <%= render 'users/form', object: @user %>
        </div>
    </div>
  </div>
</div>
