<% provide(:title, 'Manage Users') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">


      <div class="">
        <h1>Manage Users</h1>
      </div>
        <%= render 'users/manage_list', object: @users %>
    </div>
  </div>
