<% provide(:title, 'Ticks') %>

<div class="container-fluid">
  <div class="row">
    <div class="routelist-header bg-blue-gradient">
      <h1 class="hidden-xs">home </h1>
      <h1 class="hidden-sm hidden-md hidden-lg hidden-xl"><strong>tick</strong>list </h1>
    <span class="pull-right">
      <span class="hidden-xs"><%= link_to "new ascent", new_user_tick_path(current_user), class: "btn btn-close", style: "display: inline-block;" %></span>
    </span>
  </div>
  </div>
</div>

<br>

<div class="bg-dark-gray">
  <div class="routelist">
    <h3 class="tab">This page is still in development </h3>
  </div>
</div>

<br>
