<br/>
<div class="container-fluid">
  <div class="row">

    <%= render 'shared/error_messages', object: f.object %>

    <div class="col-sm-9 col-md-9 col-lg-9">
      <%= f.label :name, "Zone Name:" %>
      <%= f.text_field :name, class: 'form-control', placeholder: "ex. Wave wall" %>
    </div>

  </div>
</div>
