<%= page_entries_info @zones  %>
<table class="table table-condensed">
  <tr>
    <th>Zones</th>
    <th>Route Count</th>
    <th></th>
  </tr>
  <% @facility.zones.each do |zone| %>
    <tr>
      <td><%= link_to zone.name,  edit_admin_facility_zone_path(@facility, zone ) %></td>
      <td><%= zone.routes.count %> routes</td>
    </tr>
  <% end %>
</table>
</div>
