<% provide(:title, 'Zones') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="headliner-line">
        <h1>Edit zone</h1>
      </div>
      <%= render 'admin/zones/form', object: @zones %>
    </div>
  </div>
</div>
