<% provide(:title, 'Zones') %>

<div class="container">
  <br/>
  <div class="row">
    <div class="col-sm-6">
      <%= render 'admin/zones/form', object: @zones %>
    </div>
    <div class="col-sm-6">
      <%= render 'admin/zones/zone', object: @zones %>
    </div>
  </div>
</div>
