<% provide(:title, 'Walls') %>

<div class="container">
  <div class="filter-body">
    <h1>Edit Wall</h1>
  </div>
  <br/>
  <div class="row">
    <div class="col-sm-6">
      <%= render 'admin/walls/form', object: @walls %>
    </div>
    <div class="col-sm-6">
      <%= render 'admin/walls/wall', object: @walls %>
    </div>
  </div>
