<% provide(:title, 'Walls') %>

<%= link_to "Back", :back %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="headliner-line">
        <h1>Edit wall</h1>
      </div>
      <%= render 'admin/walls/form', object: @walls %>
    </div>
  </div>
</div>
