<div id="filterrific_results">

  <div class="row">
    <div class="col-md-4">
      <%= page_entries_info @facilities  %>
    </div>
  </div>

  <table class="table table-hover table-condensed">
      <%= div_for(@facilities) do |f| %>
      <tr>
        <td><%= link_to f.name,  facility_path(f) %></td>
        <td><%= f.addressline1 + " " + f.city + ", " + f.state + " " + f.zipcode %></td>
     </tr>
    <% end %>
  </table>
</div>
