
<script type="text/javascript" charset="utf-8">
  $(function() {
    new Highcharts.Chart({
      chart: {
        renderTo: "gradedist_boulder-<%= fs.id %>",
        type: "column",
        style: {
          fontFamily: 'Helvetica',
        }
      },
      title: {
        text: ""
      },
      xAxis: {
        type: 'category',
        labels: {
          enabled: true
        },
        tickLength: 0,
        lineWidth: 0,
        minorGridLineWidth: 0,
        minorTickLength: 0,
        lineColor: 'transparent'
      },
      yAxis: {
        title: {
          text: ""
        },
        labels: {
          enabled: false
        },
        tickLength: 0,
        lineWidth: 0,
        minorGridLineWidth: 0,
        gridLineColor: 'transparent',
        minorTickLength: 0,
        lineColor: 'transparent',
        allowDecimals: false
      },
      credits: {
        enabled: false
      },
      legend: {
        enabled: false
      },
      plotOptions: {
        spline: {
          marker: {
              enabled: false
          }
        },
        column: {
          dataLabels: {
            enabled: true,
            style: {
              textShadow: '0 0 0 black',
              color: '#333',
              fontFamily: 'Helvetica',
              fontWeight: 'normal'
            },
            formatter: function() {
                if (this.y != 0) {
                  return this.y;
                } else {
                  return null;
                }
            }
          }
        }
      },
      colors: (["#6bda8f", "#5499C7", "#da8f6b", "#da6bb6"]),

      series: [{
          type: 'column',
          name: 'Routes',
          data: <%= raw facility_grades.where('grade_systems.id = ?', fs ).order('grade_systems.discipline ASC', 'grades.rank ASC').map {|f| [f.grade, Route.current.where("grade_id = ? AND facility_id = ?", f, @facility.id ).count] } %>
      },{
          type: 'spline',
          name: 'Target',
          data: <%= raw facility_grades.where('grade_systems.id = ?', fs ).order('grade_systems.discipline ASC', 'grades.rank ASC').map {|f| [f.grade, FacilityTarget.where("grade_id = ? AND facility_id = ? AND zone_id IS NULL", f, @facility.id).sum(:value) ] } %>
      }
    ]
    });
  });
</script>
<div id="gradedist_boulder-<%= fs.id %>" style="width:100%; height:200px;"></div>
