<div class="chart-header">
  <h1>New Routes</h1>
</div>
<script type="text/javascript" charset="utf-8">
  $(function() {
    new Highcharts.Chart({
      chart: {
        renderTo: "newroutes",
        type: "column",
        style: {
          fontFamily: 'Helvetica',
        }
      },
      title: {
        text: ""
      },
      xAxis: {
        type: "datetime",
        tickInterval: 24 * 3600 * 1000,
        labels: {
          format: '{value: %a, %m/%d}'
        },
        tickLength: 0,
        minorTickLength: 0,
      },
      yAxis: {
        title: {
          text: ""
        },
        labels: {
          enabled: false
        },
        tickLength: 0,
        lineWidth: 0,
        minorGridLineWidth: 0,
        gridLineColor: 'transparent',
        minorTickLength: 0,
        lineColor: 'transparent',
        allowDecimals: false
      },
      credits: {
        enabled: false
      },
      tooltip: {
        formatter: function() {
          return Highcharts.dateFormat("%a %B %e, %Y", this.x) + ': ' +
           + Highcharts.numberFormat(this.y, 0);
        }
      },
      legend: {
        enabled: false
      },
      setOptions: {
        global : {
            useUTC : false
        }
      },
      plotOptions: {
        column: {
          grouping: true,
          dataLabels: {
            enabled: true,
            style: {
              textShadow: '0 0 0 black',
              color: '#333',
              fontFamily: 'Helvetica',
              fontWeight: 'normal'
            },
            formatter: function() {
                if (this.y != 0) {
                  return this.y;
                } else {
                  return null;
                }
            }
          }
        }
      },
      colors: (["#5DADE2", "#b6da6b", "#da8f6b", "#da6bb6"]),

      series: [
        <% { "New routes" => @facility.routes.all }.each do |type, routes| %>
        {
          name: "<%= type %>",
          pointInterval: <%= 1.day * 1000 %>,
          pointStart: <%= 2.weeks.ago.at_midnight.to_i * 1000 %>,
          data: <%= (2.weeks.ago.to_date..Date.today).map { |date| routes.set_on(date).to_f }.inspect %>
        },
        <% end %>
        ]
    });
  });
</script>
<div id="newroutes" style="width:100%; height:200px;"></div>
