<div class="chart-header">
  <h1>New Ticks</h1>
</div>
<script type="text/javascript" charset="utf-8">
  $(function() {
    new Highcharts.Chart({
      chart: {
        renderTo: "user_ticks",
        type: "column",
        style: {
          fontFamily: 'Helvetica',
        }
      },
      title: {
        text: ""
      },
      xAxis: {
        type: "datetime",
        labels: {
          format: '{value: %a, %m/%d}'
        },
      },
      yAxis: {
        title: {
          text: ""
        }
      },
      credits: {
        enabled: false
      },
      tooltip: {
        formatter: function() {
          return Highcharts.dateFormat("%B %e, %Y", this.x) + ': ' +
           + Highcharts.numberFormat(this.y, 0);
        }
      },
      plotOptions: {
        column: {
          stacking: 'normal',
          dataLabels: {
            enabled: false,
            style: {
              textShadow: '0 0 0 black',
              color: '#333',
              fontFamily: 'Helvetica',
              fontWeight: 'normal'
            },
            formatter: function() {
                if (this.y != 0) {
                  return this.y;
                } else {
                  return null;
                }
            }
          }
        }
      },
      colors: (["#6bda8f", "#b6da6b", "#da8f6b", "#da6bb6"]),

      series: [
      <% { "Onsight" => @facilityticks.onsight, "Flash" => @facilityticks.flash,
          "Redpoint" => @facilityticks.redpoint, "Project" => @facilityticks.project }.each do |name, ticks| %>
        {
        name: "<%= name %>",
        pointInterval: <%= 1.day * 1000 %>,
        pointStart: <%= 30.days.ago.to_i * 1000 %>,
        data: <%= (30.days.ago.to_date..Date.today).map { |date| ticks.total_on(date).to_f}.inspect %>
      },
      <% end %>
      ]
    });
  });
</script>
<div id="user_ticks" style="width:100%; height:200px;"></div>
