<br>
<div class="top-10 home-stats new-routes row">
  <div class="header bg-top-10">
    <h1>Top Routes</h1>
  </div>
    <br>
  <ul>
    <% Route.top_ten(@facility).each do |route| %>
      <%= link_to facility_route_path(route.facility_id, route) do %>
        <li>
        <p>  <strong><%= route.grade.grade if route.grade %></strong> <%= route.facility.name if route.facility %> <strong></strong>
        </p></li>
      <% end %>
    <% end %>
  </ul>
</div>
