<br>
<div class="top-10 home-stats climber row">
  <div class="header bg-top-10">
    <h1>Top Sends</h1>
  </div>
    <br>
<ul>
  <% Tick.top_ten_climbers(@facility).each do |send| %>
    <%= link_to user_path(send.user_id) do %>
      <li>
        <p><strong><%= send.grade.grade %></strong> <%= send.user.name %></p>
      </li>
    <% end %>
  <% end %>
</ul>
</div>
