<script type="text/javascript" charset="utf-8">
  $(function() {
    new Highcharts.Chart({
      chart: {
        renderTo: "zone_dist",
        type: "bar",
        style: {
          fontFamily: 'Helvetica',
        }
      },
      title: {
        text: ""
      },
      xAxis: {
        type: 'category',
        labels: {
          enabled: true
        },
        tickLength: 0,

        minorTickLength: 0,

      },
      yAxis: {
        title: {
          text: ""
        },
        labels: {
          enabled: false,
          align: 'left',
        },
        tickLength: 0,

        minorGridLineWidth: 0,
        gridLineColor: 'transparent',
        minorTickLength: 0,

        allowDecimals: false
      },
      credits: {
        enabled: false
      },
      legend: {
        enabled: false
      },
      plotOptions: {
        spline: {
          marker: {
              enabled: false
          }
        },
        bar: {
          cursor: 'pointer',
                point: {
                    events: {
                        click: function () {
                            location.href = this.series.options.data[this.category][2] ;
                        }
                    }
                },
          dataLabels: {
            enabled: true,
            style: {
              textShadow: '0 0 0 black',
              color: '#333',
              fontFamily: 'Helvetica',
              fontWeight: 'normal'
            },
            formatter: function() {
                if (this.y != 0) {
                  return this.y;
                } else {
                  return null;
                }
            }
          }
        }
      },
      colors: (["#b6da6b", "#5499C7", "#da6bb6"]),

      series: [{
          type: 'bar',
          name: 'Routes',
          data: <%= raw @facility.zones.all.order('name ASC').map {|f| [f.name, Route.current.where("zone_id = ?", f).count, "https://www.climbconnect.com/admin/facilities/#{@facility.id}/routes?utf8=%E2%9C%93&filterrific%5Bsearch_query%5D=&filterrific%5Bwith_grade_id%5D=&filterrific%5Bwith_zone_id%5D=#{ f.id }&filterrific%5Bwith_wall_id%5D=&filterrific%5Bwith_setter_id%5D=&filterrific%5Bwith_status_id%5D=#{Date.current}&filterrific%5Bsorted_by%5D=created_at_desc&_=" ] } %>
      },{
          type: 'spline',
          name: 'Target',
          data: <%= raw raw @facility.zones.all.order('name ASC').map {|f| [f.name, FacilityTarget.where("zone_id = ? AND sub_child_zone_id IS NULL", f).sum(:value) ] } %>
      }
    ]
    });
  });
</script>
<div id="zone_dist" style="width:100%; height:200px;"></div>
