<% provide(:title, 'Facilities') %>

<div class="container-fluid">
  <div class="routes">
    <h1> Indoor Climbing Facilities </h1>
  </div>
      <br>
      <ul class="facilities">
        <%= render 'facilities/facility', object: @facilities %>
      </ul>

      <br>
</div>
