<% provide(:title, 'Facilities') %>

<div class="home-indoors">
  <div class="center jumbotron">

    <h1>CLIMB | CONNECT<small> INDOOR</small></h1>
  <br />

  </div>
</div>

<div class="container-fluid">
  <div class="routes">
    <h1> Indoor Climbing Facilities </h1>
  </div>
      <br>
      <ul class="facilities">
        <%= render 'facilities/facility', object: @facilities %>
      </ul>

      <br>
</div>
