<% provide(:title, 'Facility Targets') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="">
        <h1>Edit target</h1>
        <br/>
        <i>Targets will be used to indicate if you are
        above or below your desired route count.</i>
      </div>
        <%= render 'admin/facility_targets/form', object: @facility_targets %>
    </div>
  </div>
