<% provide(:title, 'Facility Targets') %>

<div class="container-fluid">
  <div class="row">
      <div class="routelist-header bg-blue-gradient">
        <h1 class="hidden-xs"><strong>Facility</strong>Targets </h1>
      </div>
    </div>
    <div class="row">
        <br>
        <i>Targets will be used to indicate if you are
        above or below your desired route count.</i>
        <%= render 'admin/facility_targets/form', object: @facility_targets %>
        <br/>
        <div id="facility_targets">
          <div class="col-sm-12">
            <div class="row">
              <%= render 'admin/facility_targets/facility_targets', object: @facility_targets %>
            </div>
          </div>
        </div>
    </div>
</div>
