<div class="container-fluid">
  <div class="row">
    <h1>Comps coming soon!</h1>
    <div class="col-sm-12">
    <%= image_tag "https://s3-us-west-2.amazonaws.com/climbconnect-assets/photos/climb-connect-comps-20.jpg", style: "width: 100%; border-radius: 6px;"  %>
  </div>
  </div>
</div>
