<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="">
        <h1>Give us your money</h1>
      </div>
      <%= render 'subscriptions/form2', object: @subscriptions %>
    </div>
  </div>
</div>
