<div class="row">
  <div class="col-md-4">
    <%= page_entries_info @facilities  %>
  </div>
</div>

<ol class="list-group">
  <% @facilities.each do |f| %>
  <li class="list-group-item clearfix">
    <h3 class="pull-left">
      <%= link_to f.name,  admin_facility_path(f) %><br />
      <small><%= f.addressline1 + " " + f.city + ", " + f.state + " " + f.zipcode %></small>
    </h3>
  </li>
  <% end %>
</ol>
