<br/>
<div class="container-fluid">
  <div class="plan-list">
    <div class="row">
        <div class="col-md-4 col-md-offset-2 col-sm-6">
            <div class="panel panel-free">
                <div class="panel-heading">
                    <h4 class="text-center">
                        BETA (3 months)</h4>
                </div>
                <div class="panel-body text-center">
                    <p class="lead">
                        <strong>$0 / month</strong></p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Unlimited routes per month</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Unlimited setter account</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>3-month BETA access</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>24/7 support</li>
                </ul>
                <div class="panel-footer">
                    <%= button_to "PROCEED",  choose_free_plan_admin_facility_path(@facility), class: 'btn btn-lg btn-block btn-plan-free', method: :choose_free_plan %>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="panel panel-basic">
                <div class="panel-heading">
                    <h4 class="text-center">
                        MONTHLY</h4>
                </div>
                <div class="panel-body text-center">
                    <p class="lead">
                        <strong>$20 / month</strong></p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item"><i class="icon-ok text"></i>Unlimited routes per month</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Unlimited user accounts</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Billed Monthly</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>24/7 support</li>
                </ul>
                <div class="panel-footer">
                    <%= button_to "PAY MONTHLY",  choose_basic_plan_admin_facility_path(@facility), class: 'btn btn-lg btn-block btn-plan-basic', method: :choose_basic_plan %>
                </div>
            </div>
        </div>
        <div class="col-md-4 hidden">
            <div class="panel panel-pro">
                <div class="panel-heading">
                    <h4 class="text-center">
                        ANNUAL</h4>
                </div>
                <div class="panel-body text-center">
                    <p class="lead">
                        <strong>$200 / year</strong></p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Unlimited routes per month</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Unlimited user accounts</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Billed Annually</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>24/7 support</li>
                </ul>
                <div class="panel-footer">
                  <%= button_to "PAY ANNUALLY",  choose_pro_plan_admin_facility_path(@facility), class: 'btn btn-lg btn-block btn-plan-pro', method: :choose_pro_plan %>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
