<% provide(:title, 'Edit Facility') %>

<div class="container">
  <div class="routes">
    <h1>Edit Facility</h1>
  </div>
    <div class="row">
      <div class="col-md-6">
          <%= render 'admin/facilities/form', object: @facility %>
      </div>
    </div>
</div>
