<% provide(:title, 'All facilities') %>

<div class="home-manage">
  <div class="center jumbotron">

    <h1>CLIMB | CONNECT<small> Route Management</small></h1>

    <br />


  </div>
</div>

<div class="container-fluid">
  <div class="routes">
    <h1> Manage Facilities </h1>
  </div>
      <br>
      <ul class="facilities">
        <%= render 'admin/facilities/facility', object: @facilities %>
      </ul>

      <br>

      <p>
        <%= link_to "Add New Facility", new_admin_facility_path, class: "btn btn-md btn-submit" %>
      </p>
</div>
