<% provide(:title, 'All facilities') %>


<div class="container">
  <div class="admin-home-body">
    <div class="center jumbotron">

      <h1>Route Management</h1>

      <ul class="facilities">
        <%= render @facilities %>
      </ul>

      <br>

      <p>
        <%= link_to "+ New Facility", new_admin_facility_path, class: "btn btn-lg btn-primary" %>
      </p>

    </div>
  </div>
</div>
