<% provide(:title, 'All facilities') %>

<header class="navbar navbar-top navbar">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "+ New Facility", new_admin_facility_path %></li>
          </ul>
        </nav>
      </div>
  </div>
  </div>
</header>

<div class="container">
  <div class="filter-body">
    <h1> Manage Facilities </h1>
  </div>
      <ul class="facilities">
        <%= render 'admin/facilities/facility', object: @facilities %>
      </ul>

      <br>

      <p>
        <%= link_to "+ New Facility", new_admin_facility_path, class: "btn btn-lg btn-primary" %>
      </p>
</div>
