<% provide(:title, 'All facilities') %>

<div class="container-fluid">
  <div class="routes">
    <h1> Manage Facilities </h1>
  </div>
      <br>
      <ul class="facilities">
        <%= render 'admin/facilities/facility', object: @facilities %>
      </ul>

      <br>

      <p>
        <%= link_to "+ New Facility", new_admin_facility_path, class: "btn btn-lg btn-primary" %>
      </p>
</div>
