<% provide(:title, 'New Facility') %>

<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="headliner-line">
          <h1>New Facility</h1>
        </div>
          <%= render 'admin/facilities/form', object: @facility %>
      </div>
    </div>
</div>
