<% provide(:title, 'New Facility') %>

<div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
          <%= render 'admin/facilities/form', object: @facility %>
      </div>
    </div>
</div>
