<div class="container">
  <div class="filter-body">
    <h1><%= @facility.name %></h1>
  </div>

  <div class="row">
    <h2>
      <%= @facility.addressline1 %> <%= @facility.city %>, <%= @facility.state %>
    </h2>
  </div>
