<% provide(:title, @facility.name ) %>

<div class="row">
  <% @facility_systems.each do |fs| %>

  <% if fs.grades.count > 15 %>
    <div class="col-md-12">
  <% else %>
    <div class="col-md-6">
  <% end %>

      <%= render 'facilities/gradedist_boulder', :fs => fs %>
  </div>

  <% end %>
</div>



<div class="row">
  <div class="col-md-12">
      <%= render 'facilities/newroutes' %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
      <%= render 'facilities/tick_summary' %>
  </div>
</div>
