<% provide(:title, @facility.name ) %>

<div class="no-margin">
<%= render 'admin/facilities/facility_stats2', object: @facility %>
</div>

          <div class="top-10 home-stats row no-margin">
            <br>
            <%= render 'admin/facilities/admin_facility_stats', object: @facility %>
          </div>


              <%= render 'admin/facilities/show_partial' %>
