  <% provide(:title, @facility.name ) %>

    <div class="filter-body">
      <h1><%= @facility.name %></h1>
    </div>
      <div class="row">
        <div class="col-md-6">
            <%= render 'admin/facilities/gradechart', object: @facility %>
        </div>
        <div class="col-md-6">
            <%= render 'admin/facilities/setterchart', object: @facility %>
        </div>
      </div>
