<% provide(:title, 'Zones') %>

<div class="container-fluid">
  <div class="row">
    <div class="routelist-header bg-blue-gradient">
      <h1>ZONES</h1>
  </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
        <%= render 'facilities/zonedist', object: @zones %>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="row">
        <% @zones.each do |fz| %>
          <%= render 'zones/zone', object: @zones, :fz => fz %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-12">
        <%= render 'facilities/zonedist', object: @zones %>
        </div>
      </div>
    </div>

  </div>
</div>
