<% provide(:title, 'Grading Systems') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="">
        <h1>Add grading system</h1>
      </div>
        <%= render 'admin/grade_systems/form', object: @grade_systems %>
      <div class="headliner">
        <h1>Manage grading systems</h1>
      </div>
        <%= render 'admin/grade_systems/grade_system', object: @grade_systems %>
    </div>
  </div>
