<div class="row">
<%= render(
partial: 'routes/route',
locals: { route: @route }
) %>
</div>

<br>

<div class="row">
  <div class="routelist-header bg-blue-gradient">
    <h1><strong>Your</strong>ticks </h1>
  </div>
</div>
<br>

<div class="row">
<%= render(
partial: 'routes/tick_list',
locals: { route: @route }
) %>
</div>

<div class="row">
<%= render(
partial: 'ticks/route_tick_form',
locals: { tick: @tick }
) %>
</div>
