<% provide(:title, current_user.name + " Routes") %>

<div class="container-fluid no-margin">
      <div class="row">
        <% if params[:facility_id].present? %>
        <div class="col-sm-12">
          <div class="row">
            <%= render 'facilities/facility_stats2' %>
          </div>
        </div>

        <% else %>

        <div class="col-sm-12">
          <div class="row">
            <%= render 'users/user_stats2' %>
          </div>
        </div>


        <% end %>
      </div>
    </div>

    <div class="container-fluid">
          <div class="row">

        <div class="col-sm-12">
            <%= render 'routes/index_partial', object: @user_tick_feed %>
        </div>
      </div>
</div>
