@import "bootstrap-sprockets";
@import "bootstrap";
@import 'parsley';
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400|Roboto:300,400|Architects+Daughter');

/* Don't print link hrefs */
@media print {
  a[href]:after {
    content: none
  }
  .no-print, .no-print *
  {
      display: none !important;
  }
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .container-fluid {
      padding: 0px;
      margin: 0px;
    }

    body {
      padding: 0px;
    }
  }


.highcharts-title {
    fill: #434348;
    font-weight: bold;
    letter-spacing: 0.3em;
    font-size: 3em;
}
.highcharts-subtitle {
    font-family: 'Oswald', monospace;
    font-style: italic;
    fill: #7cb5ec;
}

.container-fluid {
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 15px;
    padding-right: 15px;
}


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;

}


/* universal */

body {
  background-color: #F8F8F9;
  padding: 0px;
  padding-top: 65px;
  padding-bottom: 0px;
  font-family: sans-serif;
  font-weight: 300;

  @media (max-width: 768px) {
    margin: -10px;
  }

}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

table {
  width: 800px;
}

th, td {
  padding: 7px 10px 10px 10px;
}

a {
  color: $gray;
}

.tab {
  margin-left: 20px;

}

.mobile-tab {
  margin-left: 20px;
  @media (max-width: 768px) {
    margin-left: 0px;
    }
}

.doubletab {
  margin-left: 40px;
}

.task-tab {
  margin-left: 15px;
}

.tripletab {
  margin-left: 60px;
}

.right-tab {
  margin-right: 20px;
}

.center {
  text-align: center;
  p {
    font-size: 28px;
    @media (max-width: 768px) {
      font-size: 18px;
    }
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #eee;
    margin-bottom: 5px;
    padding-top: 10px;
  }
}

.header {
  border-bottom: 1px solid $gray-lighter;
}


.center {
  background-color: rgba(0,0,0, 0.6);
  padding-bottom: 20px;

  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 0px;
    text-align: center;
    width:100%;

  }
}

.dropdown-menu > li > a{
  display: inline;
}

.scrollable-menu {
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
}

.badge-red {
  background-color: #FF5733;
}

.bg-gray {
  background-color: #ccc;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px #aaa;
}

.bg-form-gray {
  background-color: #888;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px #aaa;
}

.bg-blue-gradient {
  background-color: #eee;
  background: linear-gradient(60deg, #e32666, #d7348c);
  padding: 20px;
  border-radius: 4px;
  color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,.25);
}

.bg-dark-gray {
  background-color: #aaa;
  padding: 20px;
  border-radius: 4px;
}

.bg-messages {
  background-color: #444;
}

.bg-form {
  border: 1px solid #bbb;
  padding: 15px;
  border-radius: 6px;
  .divider-line{
    border-bottom: 1px solid #eee;
  }
}

.routeform-header {
  h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    display: inline;
    font-size: 2.0em;
    color: #fff;
  }
}

.home-divider-line {
  border-top: 1px solid #aaa;
  margin-bottom: 10px;
  margin-top: 30px;
}

.div-header {
  background-color: #888;
  height: 20px;
  margin: -20px;
  margin-bottom: 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

li {
  list-style: none;
}

/* header */

.logo>img {
  width: 20.0rem;
  padding: 5px;
  margin-bottom: -10px;
}

#logo-black {
  font-size: 4.7vw;
  text-transform: uppercase;
  letter-spacing: -2px;
  padding-top: 9px;
  font-weight: 700;
}

.img-beta-icon {
   width: 25px;
   height: 25px;
   background-size: cover;
   display: inline;
   margin-right: 10px;
}

.navbar-img-collapsed {
  margin-right: 100px;
  padding: 0;
  vertical-align: bottom;
}

.img-route-show {
  width: 100%;

}

.ratings {
  img {
    height: 25px;
    margin-top: 10px;
  }
  display: inline-block;
}

.raty-hints {
  display: none;
}

img.raty-cancel {
  display: none;
}




/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray-light;
    &:hover {
  color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
      a, a:hover {
        color: $gray-light;
        font-size: 16px;
        text-decoration: none;
      }
    }
  }

  $timing        : 265ms;
  $iconColor     : #e32666;
  $accent        : #d7348c;
  $grape         : #7b00e0;
  $orchid        : #ae31d9;


  @mixin transformScale($size: 1) {
      transform: scale($size);
      -ms-transform: scale($size);
      -webkit-transform: scale($size);
  }

  body {
      background-color: rgba($iconColor, 0.05);
  }

  .social-container {

      text-align: center;
  }

  .social-icons {
      padding: 0;
      list-style: none;
      margin: 1em;

      li {
          display: inline-block;
          margin: 0.15em;
          position: relative;
          font-size: 1.2em;

      }

      i {
          color: #fff;
          position: absolute;
          top: 21px;
          left: 22px;
          transition: all $timing ease-out;
      }

      a {
          display: inline-block;

          &:before {
              @include transformScale();
              content: " ";
              width: 60px;
              height: 60px;
              border-radius: 100%;
              display: block;
              background: linear-gradient(45deg, $iconColor, $accent);
              transition: all $timing ease-out;
              font-size: 4.0em
          }

          &:hover:before {
              transform: scale(0);
              transition: all $timing ease-in;
          }

          &:hover i {
              @include transformScale(2.2);
              color: $iconColor;
              background: -webkit-linear-gradient(45deg, $iconColor, $accent);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              transition: all $timing ease-in;
          }
      }

      a.social-square {

          &:before {
              background: linear-gradient(45deg, $grape, $orchid);
              border-radius: 10%;
          }

          &:hover:before {
              transform: rotate(-180deg);
              -ms-transform: rotate(-180deg);
              -webkit-transform: scale(-180deg);
              border-radius: 100%;
          }

          &:hover i {
              @include transformScale(1.6);
              color: #fff;
              transform: scale(1.6);
              -webkit-text-fill-color: #fff;
          }
      }
  }

/* Miscellaneous */

.debug_dump {
  clear:  both;
  float:  left;
  width:  100%;
  margin-top: 45px;
  @include box_sizing;
  }
}

/* Form Styling */

input[type=text] {
    border-radius: 3px;
    box-shadow: none;
    font-size: 16px;
}

textarea[type=text] {
  border-radius: 3px;
  box-shadow: none;
  font-size: 16px;
}

#setdate-input {
  font-weight: 400;
  background-color: #bbb;
  width: auto;
  min-width: 50px;
  margin: 4px;
  border-radius:4px;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  background-color: #fff;
  color: #fff;
  font-weight: 400;
  box-shadow: 2px 2px 2px #aaa;
  background-color: #ddd;
  color: #888;
  border: none;
  padding: 12px;
  input[type=date] {
      border-radius: 3px;
      box-shadow: none;
      font-size: 16px;
  }
}

.form-label {
  font-family: 'Oswald', sans-serif;
}

.badge-today {
  font-size: 0.8em;
  font-weight: lighter;
  background-color: #58D68D;
  font-family: sans-serif;
  margin-left: 3px;
  vertical-align: middle;
}


.signup-form {

  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 6px;
  font-family: 'Montserrat', sans-serif;
  background-size: cover;
  background-position: center;



  h1 {
    margin-top: 5px;
    font-size: 2.0em;
    color: #000;
    opacity: 0.6;
  }
  p {
    font-size: 1.3em;
    color: #000;
    opacity: 0.5;
    text-align: center;
  }
  .divider-line {
    border-top: 1px solid #f2f2f2;
    margin-bottom: 5px;
  }
  label {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    opacity: 0.5;
  }



}

/* Modal Styling */

.modal { -webkit-overflow-scrolling: auto; }


.modal-body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  margin-left: -20px;
  input, select, textarea {
      font-size: 16px;
  }
}


.modal-title {
  font-size: 1.7em;
  letter-spacing: -1px;
  font-weight: 200;
  h4 {
    display: inline-block;
    font-weight: 200;
    color: white;
    small {
      color: $gray-light;
    }
  }
}

.modal {
  margin-top: 120px;
}



.modal-header {
  background: linear-gradient(60deg, #f857a6, #ff5858);
  font-family: 'Montserrat', sans-serif;
  color: #eee;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  h1 {
    font-size: 2.7em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #eee;
  }

}

.modal-body {
  background: transparent;

}

.close {
float: right;
font-size: 60px;
display: none;
}

.modal-dialog {
  border-top-left-radius: 8px;

}






/* headliner */

.chart-header {
  list-style: none;
  font-style: normal;
  font-weight: 300;

  h1 {
    font-size: 1.7em;
    letter-spacing: -1px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 300;
    color: $gray;
    h3 {
      text-align: right;
    }
  }
}

.headliner-line {
  list-style: none;
  font-style: normal;
  font-weight: 300;
  h1 {
    font-size: 1.7em;
    letter-spacing: -1px;
    margin-bottom: 1px;
    font-weight: 300;
    text-align: left;
    color: $gray-darker;
    border-bottom: 1px solid $gray-lighter;
  }
}

.form-gray {
  list-style: none;
  font-style: normal;
  font-weight: 300;
  h1 {
    font-size: 1.7em;
    letter-spacing: -1px;
    margin-bottom: 1px;
    font-weight: 200;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: #777;
    border-bottom: 1px solid #bbb;
  }
}

.headliner {
  list-style: none;
  font-style: normal;
  font-weight: 300;
  display: inline;
  h1 {
    font-size: 1.7em;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 1px;
    text-align: left;
    color: $gray-darker;
  }

  .btn {
    display: inline;
    margin-top: 7px;
    align-self: auto;
  }
}


.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.form-background {
  background-color: #eee;
}



/* forms */

.devise-logo {
  width: 30%;
  margin: auto;
  display: block;
  margin-bottom: 15px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
  border-radius: 0;
}

input {
  height: auto !important;
  border-radius: 0;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}



#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Facilities index */

.img-facility-logo-medium {
  height: 50px;
  background-size: cover;
  display: inline;
  margin-right: 10px;
  vertical-align: bottom;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.facilities {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.routes {
  list-style: none;
  margin: 0;
  h1 {
    font-size: 2.0em;
    @media (max-width: 768px) {
      font-size: 1.3em;

    }
    letter-spacing: -2px;
    margin-bottom: 2px;
    text-align: left;
    font-weight: 200;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    h3 {
      text-align: right;
    }

  }

  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 0px;
    font-weight: normal;
    text-align: left;
    color: $gray;
  }

  h3 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 0px;
    font-weight: normal;
    align: right;
    color: $gray;
  }

  p {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-top: 0px;
    font-weight: normal;
    text-align: left;
    color: $gray-light;
  }

  li {
    overflow: auto;
    padding: 10px 0;
  }

  .badge-demo {
    font-size: 0.7em;
    font-weight: lighter;
    background-color: #888;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.4px;
  }

  .badge-role {
    font-size: 0.7em;
    font-weight: lighter;
    background-color: #6bb0de;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.4px;
  }
}

 /* -------  Subscription Plans ------- */

.plan-list {

  .lead { font-size: 33px;margin-bottom:0px; }

  h4 {
    font-family: 'Oswald', sans-serif;
  }

  btn {
    font-family: 'Oswald', sans-serif;
  }

  .panel-body {
    background: #ffffff;
    color: black;
  }

  .list-group {
    color: black;
  }

  .panel-free {
    background: $gray-medium-light;
    color: $gray-light;
    h4 {
      font-family: 'Oswald', sans-serif;
    }
  }

  .btn-plan-free {
    background: $gray-medium-light;
    color: $gray-light;
  }

  .panel-basic {
    background: #5499C7;
    color: #fff
  }

  .btn-plan-basic {
    background: #5499C7;
    color: #fff;
  }

  .panel-pro {
    background: #58D68D;
    color: #fff;
  }

  .btn-plan-pro {
    background: #58D68D;
    color: #fff;
  }

}

/* Homepage */

.home-body {
    margin-top: -90px;
}

.home-indoors {
    background-image: url(asset-path('indoors.jpg'));
    background-size: cover;
    background-position: center;
    padding: 50px;
}

.home-outdoors {
    background-image: url(asset-path('outdoors.jpg'));
    background-size: cover;
    background-position: top left;
    padding: 50px;
}

.home-social {
    background-image: url(asset-path('social.jpg'));
    background-size: cover;
    background-position: top right;
    padding: 50px;
}

.home-manage {
    background-image: url(asset-path('manage.jpg'));
    background-size: cover;
    background-position: right;
    padding: 50px;
}

.signup {
  letter-spacing: 0px;
  margin-bottom: 0px;
  text-align: left;
  color: $gray;
}

.bg-white {
  background-color: #eee;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,.25);



}

.bg-routeform {
  /* background: linear-gradient(60deg, #526494, #604484); */
  background-color: #ddd;
  padding: 20px;
  @media (max-width:768px) {
    padding-left: 7px;
    padding-right: 7px;
  }
  border-radius: 4px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 1px 2px rgba(0,0,0,.25);


}

.bg-vector {
  background-image: url(asset-path('white_vector.png'));
  background-size: cover;
  background-position: center;

}

.bg-gray-gradient {
  background: linear-gradient(#fff, #ccc);
  background-size: cover;
  background-position: center;
  border-radius: 4px;

}

.carousel  {
  .item {
    min-width: 110%;
  }
}

/* Makes carousel expand the picture on larger screens */
@media (min-width:768px) {
  .carousel  {
    .item {
    	height: 500px;
    	min-width: 100%;
    }
  }


}

.carousel-caption {
  top: 0%;
  @media (max-width:768px) {
  top: 20.5%;
  }
  @media (min-width:768px) {
  top: 20%;
  }
  bottom: auto;
  text-shadow: none;
  .box {
    padding: 5px 5px 60px 5px;
    @media (min-width:768px) {
    top: 20%;
    padding: 40px 50px 70px 50px;
    }
    background-color: #000;
    opacity: 0.7;
    border-radius: 6px;
    top: 30%;
    bottom: auto;
    h1 {
      font-size: 2.2rem;
      @media (min-width:641px) {
      font-size: 4.0rem;
      }
      font-family: sans-serif;
      font-weight: 700;
      color: #bbb;
    }
    h2 {
      font-size: 3.0vw;
      color: #eee;
      @media (min-width:768px) {
      font-size: 1.5rem;
      color: #bbb;
      font-weight: 300;
      }
      font-family: 'Lato', sans-serif;
    }
    h3 a{
      font-size: 3.2vw;
      @media (min-width:768px) {
      font-size: 2.0rem;
      font-weight: 300;
      }
      font-family: 'Lato', sans-serif;
      color: #e2d512;
      text-decoration: none;
    }
    .photo-credit {
      padding-top: 30px;
      margin-bottom: -58px;
      margin-right: -0px;
      font-family: 'Lato', sans-serif;
      font-size: 0.6rem;
      color: #fff;
      @media (min-width:768px) {
      font-size: 1.0rem;
      padding-top: 30px;
      margin-bottom: -65px;
      margin-right: -40px;
      color: #bbb;
      }
      text-align: right;

    }
  }
}

.carousel-control.right,
.carousel-control.left {
	background-image: none;
}




/* Admin Homepage */

.admin-home-body {
    background-image: url(asset-path('gym_climber.jpg'));
    background-size: cover;
    background-position: top left;
    padding: 50px;
}

/* facilities */

.facilities {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .name {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

/* routes */

.routes {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .route {
    margin-top: 5em;
    padding-top: 0;
  }
  .name {
    display: block;
    margin-left: 60px;
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
}

/* users */

.bg-profile-header {
  background: linear-gradient(60deg, #47cf73, #2cb5e8);
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(60deg,
      rgba(71, 207, 115, 0.8),
      rgba(44, 181, 232, 0.8)
    ),
    /* bottom, image */
    url('https://s3-us-west-2.amazonaws.com/climbconnect-assets/backgrounds/header_bg.jpg');
    background-size: cover;
    background-position: center;
  margin-top: -75px;
  padding-top: 75px;
  padding-right: 20px;
  padding-left: 20px;
  box-shadow: 0 1px 2px rgba(0,0,0,.25);

}

.img-profile-icon{
 width: 25px;
 height: 25px;
 background-size: cover;
 display: inline;
 margin-right: 10px;

}

.img-profile-medium{
 width: 50px;
 height: 50px;
 background-size: cover;
 display: inline;
 margin-right: 10px;
 vertical-align: bottom;

}

.img-profile{
 width: 100px;
 height: 100px;
 background-size: cover;
 display: inline;
 vertical-align: bottom;
 margin-right: 10px;

}

.img-setter-icon-list{
 width: 25px;
 height: 25px;
 vertical-align: bottom;
 background-size: cover;
 display: inline;
 border-radius: 2px;
 opacity: 1;
 position: absolute;
 right: 12px;
 top: -10px;

}

.profile {
  list-style: none;
  h1 {
    display: inline;
    vertical-align: bottom;
    font-size: 1.7em;
    letter-spacing: -1px;
    margin-bottom: 1px;
    font-weight: 300;
    text-align: left;
    color: $gray-darker;
    border-bottom: 1px solid $gray-lighter;
  }


  p {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-top: 0px;
    font-weight: 300;
    text-align: left;
    color: $gray-light;
  }

  li {
      border-bottom: 1px solid $gray-medium-light;
  }
}

/* chart list */

.chartlist {
  vertical-align: bottom;
  list-style: none;
  padding: 0px;
  display: inline;
  font-weight: 300;
  font-size: 0.8em;
  letter-spacing: 0.0px;
  color: $gray-light;
  li {
    margin-bottom: 10px;
    padding: 0px 0;
    border-bottom: 1px solid #bbb;
    position: relative;
    margin-top: 10px;

  }
  p {
    font-size: 1.0em;
    padding: 0px;
    letter-spacing: -0.0px;
    margin-top: 0px;
    font-weight: 300;
    text-align: left;
    color: $gray-light;
  }
}

/* Marketing */

.marketing {
  vertical-align: bottom;
  list-style: none;
  padding: 0px;
  display: inline;
  font-weight: 300;
  font-size: 1.0em;
  color: $gray;
  li {
    margin-bottom: 5px;
    padding: 0px 0;
    border-top: 1px solid $gray-lighter;
    position: relative;
    margin-top: 5px;

  }
  p {
    font-size: 1.7vw;;
    letter-spacing: -1px;
    margin-top: 0px;
    font-weight: 300;
    text-align: left;
    color: $gray;
  }

  h1 {
    font-family: 'Oswald', sans-serif;
    color: $gray;
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: -0.0px;
    margin-bottom: 5px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid $gray-lighter;
    h3 {
      text-align: right;
    }
  }

  .center {
    text-align: center;
    p {
      font-size: 40px;
    }
  }
}

/* Marketing Mobile */

.marketing-mobile {
  text-align: center;
  vertical-align: bottom;
  list-style: none;
  padding: 0px;
  display: inline;
  font-weight: 300;
  font-size: 1.0em;
  color: $gray;
  li {
    margin-bottom: 5px;
    padding: 0px 0;
    border-top: 1px solid $gray-lighter;
    position: relative;
    margin-top: 5px;

  }
  p {
    font-size: 3.1vw;;
    letter-spacing: -1px;
    margin-top: 0px;
    font-weight: 300;
    text-align: left;
    color: $gray;
  }

  h1 {
    font-family: 'Oswald', sans-serif;
    color: $gray;
    font-size: 2.0em;
    font-weight: bold;
    letter-spacing: -0.0px;
    margin-bottom: 5px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid $gray-lighter;
    h3 {
      text-align: right;
    }
  }

  .tab {
    margin-left: 10px;
  }
}

/* Marketing Checkout */

.marketing-checkout {
  text-align: center;
  vertical-align: bottom;
  list-style: none;
  padding: 0px;
  display: inline;
  font-weight: 300;
  font-size: 12px;
  color: $gray;
  li {
    margin-bottom: 5px;
    padding: 0px 0;
    border-top: 1px solid $gray-lighter;
    position: relative;
    margin-top: 5px;

  }
  p {
    font-size: 1.3vw;;
    letter-spacing: -1px;
    margin-top: 0px;
    font-weight: 300;
    text-align: left;
    color: $gray;
  }

  h1 {
    font-family: 'Oswald', sans-serif;
    color: $gray;
    font-size: 1.0em;
    font-weight: bold;
    letter-spacing: -0.0px;
    margin-bottom: 5px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid $gray-lighter;
    h3 {
      text-align: right;
    }
  }

  .tab {
    margin-left: 10px;
  }
}

/* route list filter */

.filter {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  label {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #888;
    font-weight: 200;
  }
  h2 {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    float: left;
  }
}

.gray-labels {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #444;
  label {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #666;
    font-weight: 200;
  }
  h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    color: $gray-light;
    text-align: left;
  }
  input[type=text], input[type=date], input[type=email] {
      margin-left: 4px;
      margin-right: 4px;
      border-radius: 4px;
      box-shadow: none;
      font-size: 16px;
      padding: 12px;
      text-transform: uppercase;
      border: none;
      background-color: #ccc;
      color: #666;
      box-shadow: 0 1px 2px rgba(0,0,0,.25);

  }

  input[type=date] {
    margin-left: 4px;
    border-radius: 4px;
    box-shadow: none;
    font-size: 16px;
    padding: 8px;
    text-transform: uppercase;
    border: none;
    background-color: #ccc;
    color: #666;
    box-shadow: 0 1px 2px rgba(0,0,0,.25);

}

select {
  padding: 20px;
  border: none;
  background-color: #ccc;
  color: #666;
  height: 47px;
  text-transform: uppercase;
  box-shadow: 0 1px 2px rgba(0,0,0,.25);



}


  .large-label {
    input[type=text] {
      margin-left: 4px;
      margin-right: 4px;
      font-size: 16px;
      padding: 12px;
      background-color: #ccc;
      color: #666;
      box-shadow: 0 1px 2px rgba(0,0,0,.25);

    }
  }

  textarea[type=text] {
    border-radius: 3px;
    box-shadow: none;
    font-size: 16px;
    box-shadow: 0 1px 2px rgba(0,0,0,.25);

  }

  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #666;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #666;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #666;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #666;
}

  .divider-line {
    border-top: 1px solid #888;
    margin-bottom: 5px;
  }
}


/* route form */

.collapsing {
    -webkit-transition: none;
    transition: none;
}

.route-form {

  body {
      font-family:sans-serif;
  }

  #donate {
      margin:0px;
      float:left;
  }

  #donate label {
      float:left;
      width: auto;
      min-width: 50px;
      margin: 4px;
      border-radius:4px;
      display: inline-block;
      position: relative;
      overflow: hidden;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      letter-spacing: -0.5px;
      background-color: #fff;
      color: #fff;
      font-weight: 200;
      box-shadow: 0 1px 2px rgba(0,0,0,.25);



  }

  #donate label span {
      text-align:center;
      font-size: 16px;
      padding: 12px;
      @media (max-width: 768px) {
        font-size: 16px;
        padding: 12px;
      }


      display: block;

  }

  #donate label input {
      position:absolute;
      top:-20px;
  }

  #donate input:checked + span {
      background-color:#444;
      color:#F7F7F7;

      box-shadow: 4px 4px 2px rgba(255,255,255,.5);


  }

  #donate .yellow {
      background-color:#e2d512;
      color:#333;
  }

  #donate .blue {
      background-color: #fff;
      color:#888;
  }

  #donate .pink {
      background-color:#FF33AA;
      color:#fff;
  }

  #donate .green {
      background: linear-gradient(60deg, #00adee, #1b75bb);
      color:#fff;
      font-size: 8px;
  }
  #donate .gray {
    background-color: #ccc;

    color: #666;
  }

  #donate .purple {
      background-color:#8833ff;
      color:#fff;
  }

  #donate .pink {
    background: linear-gradient(60deg, #00adee, #1b75bb);
      color:#fff;
  }


  #donate-colors {
      margin:0px;
      float:left;
  }

  #donate-colors label {
      float:left;
      width: auto;
      min-width: 50px;
      margin: 4px;
      border-radius:4px;
      display: inline-block;
      position: relative;
      overflow: hidden;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      letter-spacing: -0.5px;
      background-color: #ccc;
      color: #666;
      font-weight: 200;
      box-shadow: 0 1px 2px rgba(0,0,0,.25);



  }

  #donate-colors label span {
      text-align:center;
      font-size: 16px;
      padding: 12px;
      @media (max-width: 768px) {
        font-size: 16px;
        padding: 12px;
      }


      display: block;

  }

  #donate-colors label input {
      position:absolute;
      top:-20px;
  }

  #donate-colors input:checked + span {
      background-color:#444;
      color:#F7F7F7;

  }

}


/* route list */

.routelist {
  vertical-align: bottom;
  list-style: none;
  padding: 0px;
  display: inline;
  font-weight: 300;
  font-size: 0.7em;
  letter-spacing: -0.0px;
  color: #777;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  li {
    background-color: #ddd;
    margin-bottom: 10px;
    border-left: 15px solid #444;
    position: relative;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,.25);



    a {
      color: #777;
    }

    h1 {
      color: #52BE80;
      font-size: 3em;
      letter-spacing: -2px;
      margin-bottom: 5px;
      text-align: left;
      border-bottom: 1px solid $gray-lighter;
      font-family: 'Montserrat', sans-serif;
      h3 {
        text-align: right;
      }

    }

    .button-links {
      a {
        color: #666;
        display: inline-block;
      }
    }


  }

  .white-links {
    a {
      color: #eee;
    }
  }

    .circle-wrapper {
      margin: 5px;
      display: inline-block;
    }

  .circle {
    height: 45px;
    width: 45px;
    font-size: 25px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%; /* may require vendor prefixes */
    background: linear-gradient(60deg, #1b75bb, #00b1ff);
    color: white;
    position: absolute;
    line-height: 45px;
    box-shadow: 0 1px 2px rgba(0,0,0,.25);

  }

  .large-circle {
    height: 75px;
    width: 75px;
    font-size: 25px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%; /* may require vendor prefixes */
    background: linear-gradient(60deg, #1b75bb, #00b1ff);
    color: white;
    margin: 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,.25);
    .text {
      font-size: 10px;
      margin-top: -6px !important;
      position: relative;
      display: block;
    }
  }

  .tick-circle {
    height: 50px;
    width: 50px;
    font-size: 18px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%; /* may require vendor prefixes */
    background: linear-gradient(60deg, #2bb573, #8cc53f);
    color: white;
    margin: 20px;
    .text {
      font-size: 8px;
      margin-top: -4px !important;
      position: relative;
      display: block;
    }
  }

  .img-facility-logo-list {
    height: 40px;
    @media (max-width: 768px) {
      height: 30px;
    }
    position: absolute;
    right: 5px;
    background-size: cover;
    display: inline;
    margin-right: 10px;
    vertical-align: bottom;
  }

  .project {
    background: linear-gradient(60deg, #185a9d, #43cea2);

  }

  .flash {
    background: linear-gradient(60deg, #ed2a7b, #faaf40);
  }

  .redpoint {
    background: linear-gradient(60deg, #4776e6, #8e54e9);

  }

  .attempt {
    background: linear-gradient(60deg, #9d50bb, #6e48aa);

  }




  .responsive {

    position: sticky;

  }

  .grade {
    margin-top: 5em;
    padding-top: 0;
  }
  .info {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-medium-light;
    display: block;
    margin-left: 0px;
    font-weight: 300;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }

  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 5px;
    text-align: left;
    border-bottom: 1px solid $gray-lighter;
    h3 {
      text-align: right;
    }

  }

  h2 {
    font-size: 1.2em;
    letter-spacing: -0.5px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: 300;
    text-align: left;
    display: inline;
    color: #777;
  }

  h3 {
    font-size: 2.7em;
    letter-spacing: -1.0px;
    margin-bottom: 0px;
    font-weight: 200;
    display: inline;
    text-align: left;
    color: #777;
    margin-top: 0px;
    vertical-align: bottom;
    @media (max-width: 768px) {
      font-size: 2.0em;
    }

  }

  h4 {
    font-size: 1.2em;
    letter-spacing: -.5px;
    margin-bottom: 0px;
    font-weight: lighter;
    text-align: left;
    letter-spacing: 0.8px;
    font-family: 'Oswald', sans-serif;
  }

  p {
    font-size: 1.7em;
    letter-spacing: -1px;
    margin-top: 0px;
    font-weight: 300;
    text-align: left;
    margin-bottom: 0px;
    display: inline-block;
  }

  li {
    overflow: auto;
    padding: 10px 0;
  }

  a {
    color: $gray;
    text-decoration: none;
  }

  .badge-today {
    font-size: 1em;
    font-weight: lighter;
    background-color: #58D68D;
    font-family: sans-serif;
  }

  .badge-late {
    font-size: 1em;
    font-weight: lighter;
    background: linear-gradient(60deg, #e32666, #d7348c);
    font-family: sans-serif;
  }

  .badge-week {
    font-size: 1em;
    font-weight: lighter;
    background-color: #58D68D;
  }
  .divider-line {
    border-top: 1px solid #aaa;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .divider-line-light {
    border-top: 1px solid #ccc;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .right-divider-line-light {
    border-right: 1px solid #ccc;
    margin-right: 5px;
    margin-left: 5px;
    display: inline;
  }

  .red {
    border-left: 15px solid rgba(239, 83, 80, 1);
  }

  .purple {
    border-left: 15px solid rgba(126, 87, 194, 1);
  }

  .blue {
    border-left: 15px solid rgba(41, 128, 185, 1);
  }

  .green {
    border-left: 15px solid rgba(22, 176, 133, 1);
  }

  .yellow{
    border-left: 15px solid rgba(253, 216, 53, 1);
  }

  .orange {
    border-left: 15px solid rgba(255, 152, 0, 1);
  }

  .gray {
    border-left: 15px solid #e2e2e2;
  }

  .black {
    border-left: 15px solid $gray;
  }

  .white {
    border-left: 15px solid #F2F4F4;
  }

  .pink {
    border-left: 15px solid rgba(255, 51, 170, 1);
  }

  .brown {
    border-left: 15px solid rgba(153, 102, 85, 1);
  }

  .lime {
    border-left: 15px solid rgba(205, 220, 57, 1);
  }

  .magenta {
    border-left: 15px solid rgba(255, 51, 153, 1);
  }

  .date-list li {

    color: #fff;
    background-color: #eee;
    border-left: #aaa;
    h3 {
      color: #888;
    }
    .ticklist {
      li {

        color: #fff;
        background-color: #fff;
        border-left: #aaa;
        box-shadow: none;
        margin-left: -40px;
        box-shadow: 0 1px 2px rgba(0,0,0,.25);

        h3 {
          color: #888;
        }
      }
    }
  }
}

.routelist-header {
  h1{
    font-family: 'Montserrat', sans-serif;
    display: inline;
    font-size: 2.0em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 200;
  }
}

/* route show */

.routeshow {
  h1 {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    border: none;
    color: $gray;
    font-weight: 200;
  }
  h2 {
    display: inline-block;
    letter-spacing: -0.4px;
  }
  p {
    font-size: 1.2em;
    letter-spacing: 0.0px;
  }
  li {
    margin-left: -15px;
  }

  .img-setter-icon{
   width: 50px;
   height: 50px;
   vertical-align: bottom;
   background-size: cover;
   display: inline;
   margin-left: 10px;
   border-radius: 2px;
   opacity: .75;
   float: right;
  }

  .divider-line {
    border-top: 1px solid #888;
    margin-bottom: 5px;
  }

}


#recent_routes {
  @media (min-width: 768px) {
    margin-left: 10px;
  }
}


/* grades */

.grades {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
  }
  .grade {
    margin-top: 5em;
    padding-top: 0;
  }
  .grade {
    display: block;
    margin-left: 60px;
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* Glyphicons */
.glyphicon-remove {
  color: #B2BABB;
  transition-duration: 0.25s;
}

.glyphicon-remove:hover {
  color: #CD6155;
}

.glyphicon-trash {
  color: #888;
  transition-duration: 0.25s;
}

.glyphicon-trash:hover {
  color: #CD6155;
}



.glyphicon-cog {
  color: #888;
}

.glyphicon-cog:hover {
  color: #444;
}

.glyphicon-green {
  color: #52BE80;
}

.glyphicon-gray {
  color: $gray-lighter;
}

.glyphicon-center {
  text-align: center;
}

.power-off {
  transition: all .35s ease;
  font-size: 24px;
  color: #52BE80;

}
.power-off:hover {
  color: #e32666;
}


/* Navbar */

.navbar {
    background-color: rgba(0,0,0,.8);
    border: none;
    margin-top: -1px;
    margin-bottom: -10px;
    @media (min-width: 768px) {
      padding-top: 7px;

    }
}

.navbar-nav li a {
    line-height: 50px;
    margin-bottom: -20px;
    border-color: transparent;
    @media (max-width: 768px) {
      line-height: 20px;
    }
    img {
      vertical-align: text-bottom;
    }
}

/* Navbar Mobile Hamburger Menu */

.navbar .navbar-toggle {
  border-color: rbga(0,0,0, .7); /* Removes border color */
  margin-top: 22px;

}

.navbar .navbar-toggle .icon-bar {
  background-color: #ccc; /* Changes regular toggle color */
  color: rbga(0,0,0, .7);
}

.navbar .navbar-toggle:hover {
  background-color: transparent; /* Changes toggle color on hover */
}

.navbar .navbar-toggle .icon-bar:hover {
  background-color: #ddd; /* Changes toggle color on hover */
}

.navbar div.navbar-collapse {
  border-color: transparent;
  border-top: none;
  box-shadow: none;
  li a{
    font-size: 1.0em;
    color: #ccc;
    background-color: transparent;
    @media (max-width: 768px) {
        font-size: 1.1em;
        margin-bottom: 1px;
    }
    letter-spacing: -0.0px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    vertical-align: bottom;
    display: inline-block;
    font-weight: 200;
    &:hover {
      color: #fff;
      background-color: transparent;
    }
    &:focus {
      color: #fff;
      background-color: transparent;
    }
    &:active {
      color: #fff;
      background-color: transparent;
    }
  }
}

.left-no-margin {
  margin-left:-20px;
}

/*-- change navbar dropdown color --*/

 .navbar .navbar-nav .open .dropdown-menu>li>a {
   font-family: 'Montserrat', sans-serif;
   font-size: 1.1em;
   -webkit-box-shadow: none;
   box-shadow: none;
   @media (max-width: 768px) {
       font-size: 1.3em;
       background-color: transparent;
       padding: 12px;
       padding-top: 12px;
   }
   padding-top:  7px;
   padding-bottom: 7px;
   display: inline-block;
   &:hover {

   }
 }

 .navbar .navbar-nav .open .dropdown-menu {
   background-color: rgba(0,0,0,.7);
   border: none;
   margin-top: -1px;

 }

.white>li>a {
   color: #aeaeae;
   opacity: 50%;
   &:hover {
      color: white;
   }
 }

 .navbar .navbar-nav .open .dropdown-menu .divider {
   background-color: $gray-darker;
 }


/*-- change navbar dropdown color --*/
 .navbar div.navbar-collapse .navbar-custom {
   li a {
     color: #ffffff;
     &:hover {
       color: #fff;
     }
   }
 }

.navbar-header {
  @media (max-width: 768px) {
    border-style: none;
    line-height: 55px;
    margin-bottom: 10px;
  }
}

.navbar-toggle {
    margin-top: 15px;
    margin-bottom: -10px;
}

#admin-header {

  .navbar .navbar-toggle {
    margin-top: 15px;
    margin-bottom: -10px;

  }
  .navbar-nav li a {
      line-height: 15px;
      &:hover {
        line-height: 15px;
      }
  }
  .navbar {
    color: black;
    background-color: transparent;
    border-style: none;
    margin-left: 1px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.4px;

    li>a {
      color: #fff;
      margin-top: 3px;
      margin-bottom: 3px;
      padding-top: 3px;
      font-size: 1.0em;
      @media (max-width: 768px) {
          font-size: 1.3em;
      }
    }

    a:active, li:active, li:hover, a:hover, a:active{
      color: #444;
      background-color: transparent;
    }

    .btn, btn:hover, btn:active {
      font-size: 1.1em;
      vertical-align: text-top;
      color: #fff;
      letter-spacing: -1.0px;
    }


    .btn-primary, .btn-primary:hover, .btn-primary:active{
      color: #ffffff;
    }

  }
  .navbar-collapse {
    background-color: transparent;
  }
  .navbar-toggle {
    border-style: none;
    float: left;
  }
}

.header-text {
  font-family: 'Lato', sans-serif;
  letter-spacing: -1.0px;
  li a{
    color: #eee;
  }

}

@media (min-width: 768px){

    .navbar-nav{
        float:none;
        margin: 0px auto;
        display: table;
        table-layout: fixed;
        margin-bottom: 0px;
    }
    li a {
      color: $gray;
      &:hover {
        color: $gray-darker;
        background-color: transparent;
      }
      }

      .navbar {
        border-style: none;
        font-weight: 300;
      }




}

.adminnavbar {
  body { padding-top: 0px;
  }
}





/* Buttons */

.btn, .btn-group {
  font-weight: normal;
  font-weight: 200;
  vertical-align: bottom;
  border-radius: 2px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;

}

.btn-group .dropdown-menu {
  background-color: #222;
  opacity: .7;

}

.btn-group .dropdown-menu>li>a {
  background-color: transparent;
  font-weight: 200;
  font-size: 1.0em;
  color: #eee;
  padding-top:  3px;
  padding-bottom: 3px;
  display: inline-block;
  &:hover {
    color: $gray-light;
  }
}

.btn-join {
  opacity: .8;
  margin-top: 80px;
  border: none;
  background: linear-gradient(60deg, #e32666, #d7348c);
  width: 200px;
  color: #fff;
}

.btn-join:hover {
  opacity: 1;
  color: white;
}

.btn-signin {
  opacity: .8;
  margin-top: 25px;
  border: none;
  background: linear-gradient(60deg, #e32666, #d7348c);
  width: 200px;
  color: #fff;
}

.btn-signin:hover {
  opacity: 1;
  color: white;
}

.btn-more {
  height: 75px;
  width: 75px;
  font-size: 12px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%; /* may require vendor prefixes */
  background: linear-gradient(60deg, #1b75bb, #00b1ff);
  color: white;
  margin: 20px;
  .text {
    font-size: 12px;
    margin-top: -10px !important;
    position: relative;
    display: block;
  }
}

.btn-submit{
  border-color: #52BE80;
  background: #52BE80;
  opacity: 1;
  color: #ffffff;
  transition-duration: 0.5s;
  letter-spacing: -0.0px;
}

.btn-submit:hover, .btn-submit:active{
  border-color: #58D68D;
  background: #58D68D;
  opacity: 1;
  color: #ffffff;
}

.btn-signup{
  border-color: #52BE80;
  background: #52BE80;
  opacity: 1;
  color: #ffffff;
  transition-duration: 0.5s;
  letter-spacing: -0.0px;
}

.btn-signup:hover, .btn-signup:active{
  border-color: #58D68D;
  background: #58D68D;
  opacity: 1;
  color: #ffffff;
}

.btn-demo{
  border-color: #FF33AA;
  background: #FF33AA;
  opacity: 1;
  color: #ffffff;
  transition-duration: 0.5s;
  letter-spacing: -0.0px;
}

.btn-demo:hover, .btn-demo:active{
  border-color: #FF33AA;
  background: r#FF33AA;
  opacity: 1;
  color: #ffffff;
}

.btn-save{
  border-color: none;
  background: linear-gradient(60deg, #e32666, #d7348c);
  opacity: .8;
  color: #ffffff;
}

.btn-save:hover, .btn-save:active{
  border-color: none;
  background: linear-gradient(60deg, #e32666, #d7348c);
  opacity: 1;
  color: #ffffff;
}

.btn-add {
  border-color: none;
  opacity: .8;
  background: linear-gradient(60deg, #526494, #604484);
  color: #ffffff;
}

.btn-add:hover, .btn-add:active {
  border-color: none;
  opacity: 1;
  background: linear-gradient(60deg, #526494, #604484);
  color: #ffffff;
}

.btn-addnew{
  background: $gray;
  border-color: $gray;
  opacity: 1;
  color: $gray-lighter;
}

.btn-addnew:hover{
  background: #ffffff;
  border-color: #3498DB;
  opacity: 1;
  color: $gray;
}

.btn-nav, .btn-nav:hover, .btn-nav:active{
  border-color: $gray-lighter;
  background: $gray-lighter;
  opacity: 1;
  color: $gray-light;
  letter-spacing: -0.0px;
  display: inline;
}

.btn-create, .btn-create:hover, .btn-create:active{
  border-color: #2e8ece;
  background: #2e8ece;
  opacity: 1;
  color: white;
  transition-duration: 0.5s;
  letter-spacing: -0.0px;
}

.btn-moredetail, .btn-moredetail:hover {
  background: linear-gradient(60deg, #888, #bbb);
  border: none;
  opacity: 1;
  color: #eee;
  letter-spacing: 0.5px;
  left-margin: 4px;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  box-shadow: 2px 2px 2px #aaa;
}

.btn-close, .btn-close:hover {
  background: #F8F8F9;
  opacity: 1;
  color: #444;
  letter-spacing: -0.0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  display: inline;
}

.btn-filter, .btn-filter:hover {
  background: #fff;
  opacity: 1;
  color: #444;
  letter-spacing: -0.0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}

.btn-photo, .btn-photo:hover {
  background: white;
  opacity: 1;
  color: $gray-light;
  letter-spacing: 0.0px;
}


.btn-create, .btn-create:hover, .btn-create:active{
  border-color: #2e8ece;
  background: #2e8ece;
  opacity: 1;
  color: white;
  transition-duration: 0.5s;
  letter-spacing: -0.0px;
}

.btn-onsight:hover{
  background: #6bda8f;
  border-color: #6bda8f;
  opacity: 1;
  color: #ffffff;
}

.btn-pretick{
  background-color: #ccc;
  border: none;
  opacity: 1;
  color: #666;
  @media (max-width: 768px) {
    font-size: 10px;
  }
}

.btn-flash{
  background: linear-gradient(60deg, #d73463, #fa9040);
  border: none;
  opacity: 0.9;
  color: #eee;
  @media (max-width: 768px) {
    font-size: 10px;
  }
}

.btn-flash:hover{
  background: linear-gradient(60deg, #d73463, #fa9040);
  border: none;
  opacity: 1;
  color: #eee;
  @media (max-width: 768px) {
    font-size: 10px;
  }
}

.btn-redpoint{
  background: linear-gradient(60deg, #d7348c, #e32666);
  border: none;
  opacity: 0.9;
  color: #eee;
  @media (max-width: 768px) {
    font-size: 10px;
  }
}

.btn-redpoint:hover{
  background: linear-gradient(60deg, #d7348c, #e32666);
  border: none;
  opacity: 1;
  color: #eee;
  @media (max-width: 768px) {
    font-size: 10px;
  }
}

.btn-project{
  background: linear-gradient(60deg, #526494, #d7348c);
  border: none;
  opacity: 0.9;
  color: #eee;
  @media (max-width: 768px) {
    font-size: 10px;
  }

}

.btn-project:hover{
  background: linear-gradient(60deg, #526494, #d7348c);
  border: none;
  opacity: 1;
  color: #eee;
  @media (max-width: 768px) {
    font-size: 10px;
  }
}

/* Cancel subscription */

.btn-cancel{
  border-color: #CD6155;
  background: #CD6155;
  letter-spacing: 1px;
  color: white;
  display: inline-block;

}

.btn-expire, .btn-expire:hover{
  background-color: #ccc;
  border: none;
  opacity: 1;
  color: #666;
  letter-spacing: 0.5px;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  box-shadow: 0 1px 2px rgba(0,0,0,.25);

  a {
    color: #eee;
    display: block;
  }
  @media (max-width: 768px) {
    font-size: 10px;
  }

}


.btn-expired, .btn-expired:hover{
  background: #f3817f;
  color: #ffffff;
  border: none;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;

}

.btn-activate, .btn-completed:hover{
  background: #fff;
  letter-spacing: 0.5px;
  opacity: 1;
  color: #444;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  li a {
    color: $gray-light;
    display: block;
  }

}

.btn-activate:hover, .btn-completed{
  background: #58D68D;
  letter-spacing: 0.5px;
  opacity: 1;
  color: white;
  display: block;
  li a i {
    color: $gray-light;
    display: block;
  }

}

.btn-tag, .btn-tagged:hover, .btn-tag:hover {
  background: #fff;
  letter-spacing: 0.5px;
  opacity: 1;
  color: #444;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}

.btn-tagged {
  background: #c2c2c2;
  opacity: 1;
  color: #ffffff;
  display: inline-block;
  width: 100%;
}

.btn-gray {
  background: #888;
  opacity: 1;
  color: #ffffff;
  display: inline;
  width: 100%;
}

.btn-lightgray {
  background: #ccc;
  opacity: 1;
  color: #ffffff;
  display: inline;
  width: 100%;
}

.btn-blue, .btn-blue:hover  {
  background: #2e8ece;
  opacity: 1;
  color: #ffffff;
  display: inline;
  width: 100%;
}

.btn-purple, .btn-purple:hover {
  border: none;
  opacity: 0.8;
  background: #444;
  color: #ffffff;
  display: inline;
  width: 100%;
}

.btn-purple:hover, .btn-purple:active {
  border: none;
  opacity: 1;
  background: #444;
  color: #ffffff;
  display: inline;
  width: 100%;
}

.btn-edit, .btn-edit:hover{
  border-color: #ffffff;
  background: #ffffff;
  opacity: 1;
  color: $gray-light;
  margin-top: 5px;
}

.btn-danger, .btn-danger:hover {
    a {
      color: #ffffff;
    }
}

.btn-homeaction {
  background: #52BE80;
  color: $gray-lighter;
  font-size: 1.1em;
  letter-spacing: 1px;
}

.btn-homeaction:hover , .btn-homeaction:active{
  color: $gray-lighter;
  background: #52BE80;
}


.btn-facebook {
  background-image: url(asset-path('facebook-6-24.png'));
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  float: none;
  padding-left: 40px;
  background-color: #3b5998;
  color: #ffffff;
  border-width: thick;
  display: inline-block;
}

.btn-facebook:hover {
  background-color: #4e69a2;
  color: #ffffff;
}

.btn-google {
  background-image: url(asset-path('google-btn.png'));
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  float: none;
  padding-left: 40px;
  background-color: #4885ed;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  border-width: thick;
  display: inline;
}

.btn-google:hover {
  color: #ffffff;
}

.btn-mobile {
  font-size: 3.2vw;
}


/*flash*/
.alert-error {
    font-family: 'Montserrat';
    text-transform: uppercase;
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    ul {
      list-style: none;
    }
 }

.alert-alert {
    font-family: 'Montserrat';
    text-transform: uppercase;
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    ul {
      list-style: none;
    }
 }

.alert-success {
    font-family: 'Montserrat';
    text-transform: uppercase;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
    ul {
      list-style: none;
    }
 }

.alert-notice {
    font-family: 'Montserrat';
    text-transform: uppercase;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
    ul {
      list-style: none;
    }
 }

 .alert-danger {
   margin-top: -65px;
 }

.list-group {

}

/*Check box in the middle of the text fix*/

.checkbox {
    width: 15px;
    height: 15px;
    float: left;
    vertical-align: middle;

}
.checkbox-inline {
    float: left;
    padding-left: 3px;
    margin-left: 10px;
    padding: 15px;
    vertical-align: middle;

}


/*target Internet Explorer 9 and Internet Explorer 10:*/
@media screen and (min-width:0\0) {
    select {
        background:none;
        padding: 5px;
    }
}

.list-group li:nth-child(1){
  border: 0 none;
  border-bottom: 1px solid $gray-lighter;
}


.img-zone-show {
   width: 100%;
   background-size: cover;
   display: inline;
   vertical-align: bottom;
   margin: 10px;
}

.img-zone-list {
   width: 150px;
   @media (max-width: 768px) {
     width: 100%;
   }
   background-size: cover;
   display: inline;
   vertical-align: bottom;
   margin-bottom: 10px;
}

.zoneshow-header {
  h1{
    font-family: 'Architects Daughter', sans-serif;
    display: inline;
    font-size: 2.0em;
    color: #444;
    text-transform: uppercase;
    font-weight: 200;
  }
}

.divider-line {
    border-top: 1px solid #ddd;
    margin-bottom: 5px;
}


/* HEX
#8e44ad
#2980b9
#e74c3c
#e67e22
#f1c40f
#16a085
*/


/* Parsley Error Messages */

#setter_error {
  color: red;
  font-size: 16px;
  display: inline-block;
  margin-left: 10px;
}

#color_error {
  color: red;
  font-size: 16px;
  display: inline-block;
  margin-left: 10px;
  font-family: 'Oswald', sans-serif;
}

#grade_error {
  color: red;
  font-size: 16px;
  display: inline-block;
  margin-left: 10px;
  font-family: 'Oswald', sans-serif;
}

#date_error {
  color: red;
  font-size: 16px;
  display: inline-block;
  margin-left: 10px;
  font-family: 'Oswald', sans-serif;
}

#successMessage {
  margin-top: 10px;
    background-color: #eee;
    background: linear-gradient(60deg, #5ccb6c, #57d79a);
    padding: 10px;
    padding-left: 20px;
    border-radius: 4px;
    color: white;
    box-shadow: 2px 2px 2px #aaa;
    font-size: 1.0em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-transform: uppercase;

}


/* HERO IMAGE - HEADER */

.hero-unit {
padding: 0px;/* CHANGE PADDING HERE*/
margin-bottom: 30px;
font-size: 18px;
font-weight: 200;
line-height: 30px;
color: inherit;
background-color: #F8F8F9;; /* CHANGE BACKGROUND HERE*/
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
font-family: 'Montserrat', sans-serif;
  h1 {

    text-align: left;
    font-weight: 200;
  }
}


.banner {
	background: linear-gradient(45deg, #2cb5e8, #47cf73);
	padding: 25px 50px;
	h1 {
		color: white;
		font-weight: normal;
		letter-spacing: 20px;
	}
}

.activity-feed {
  font-family: 'Montserrat', sans-serif;

	list-style-type: none;
	padding: 0;
	margin: 50px 0px 50px 25px;
	.feed-item {
		position: relative;
		min-height: 60px;
		margin-bottom: 25px;
		padding-left: 30px;
		border-left: 2px solid #ddd;
    &:last-child { border-color: transparent; }
		&:before {
			content: attr(data-time);
			display: flex;
			width: 200px;
			position: absolute;
			text-align: left;
			justify-content: left;
			align-items: left;
			left: -20px;
			top: -22px;
			font-size: 12px;
			color: #999;
		}
    &::after {
      content: attr(data-content);
      display: flex;
			justify-content: center;
			align-items: center;
      position: absolute;
      top: 0;
      left: -21px;
      width: 40px;
      height: 40px;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
      border-radius: 50%;
			color: white;
			background-color: #ddd;
		}
		section {
			background-color: white;
			//width: auto;
			//display: inline-block;
			padding: 10px 15px;
			border-radius: 4px;
			border: 1px solid #f0f0f0;

			label {
        font-weight: 200;
				display: block;
				cursor: pointer;
				// &:after {
				// 	content: "\f067";
				// 	position: absolute;
				// 	right: 20px;
				// 	color: #999;
				// 	font: normal normal normal 14px/1 FontAwesome;
				// 	text-rendering: auto;
				// 	font-size: 20px;
				// 	-webkit-font-smoothing: antialiased;
				// 	-moz-osx-font-smoothing: grayscale;
				// 	transition: all .15s ease-in-out;
				// }
			}
		}
	}
}

input[type="checkbox"] {
	display: none;
	&:checked {
		~ label {
			&:after {
				transform: rotate(45deg);
				color: tomato;
			}
		}
		~ .content {
			max-height: 1000px;
			border-top: 1px solid #f0f0f0;
			padding-top: 10px;
			margin-top: 10px;
			padding: 0 25px;
			transition: max-height .25s ease-in;
		}
	}
}

.content {
  border-top: 1px solid #fcd000;
  margin-top: 5px;
  padding-top: 5px;
}

.feed-ratings {
  img {
    height: 25px;
    margin-bottom: 5px;
  }
  display: inline-block;
}

[data-color=red] { &:after { background-color: #ff3c41 !important; } }
[data-color=blue] { &:after { background-color: #2cb5e8 !important; } }
[data-color=green] { &:after { background-color: #47cf73 !important; } }
[data-color=yellow] { &:after { background-color: #fcd000 !important; } }


// &#xf27b;
// &#xf004;


.top-10 {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  //width: auto;
  //display: inline-block;
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid #f0f0f0;
  @media (min-width: 768px) {
    margin-right: 0px;
  }
  .header {
    h1{
      font-family: 'Montserrat', sans-serif;
      display: inline;
      font-size: 1.0em;
      color: #fff;
      text-transform: uppercase;
      font-weight: 200;
      letter-spacing: 0.5px;

    }
    border: none;
    margin-bottom: 7px;
  }

  .bg-top-10 {

    background-color: #999;
    padding: 5px;
    padding-left: 10px;
    border-radius: 4px;
    color: white;
    box-shadow: 0 1px 2px rgba(0,0,0,.25);
  }

  li {
    margin-left: -20px;
  }

  .circle-wrapper {
    margin: 5px;
    display: inline-block;
  }

.circle {
  height: 45px;
  width: 45px;
  font-size: 25px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%; /* may require vendor prefixes */
  background: linear-gradient(60deg, #1b75bb, #00b1ff);
  color: white;
  position: absolute;
  line-height: 45px;
  box-shadow: 0 1px 2px rgba(0,0,0,.25);

}

.large-circle {
  height: 75px;
  width: 75px;
  font-size: 20px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%; /* may require vendor prefixes */
  background: linear-gradient(60deg, #1b75bb, #00b1ff);
  color: white;
  margin: 20px;
  box-shadow: 0 1px 2px rgba(0,0,0,.25);
  .text {
    font-size: 10px;
    margin-top: -6px !important;
    position: relative;
    display: block;
  }
}

.tick-circle {
  height: 50px;
  width: 50px;
  font-size: 18px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%; /* may require vendor prefixes */
  background: linear-gradient(60deg, #2bb573, #8cc53f);
  color: white;
  margin: 20px;
  .text {
    font-size: 8px;
    margin-top: -4px !important;
    position: relative;
    display: block;
  }
}
}

.home-stats {
  color: #eee;


  background: linear-gradient(rgba(82, 100, 148, 0.95), rgba(96, 68, 132, .95));
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(60deg,
      rgba(82, 100, 148, 0.95),
      rgba(96, 68, 132, .95)
    ),
    /* bottom, image */
    url('https://s3-us-west-2.amazonaws.com/climbconnect-assets/backgrounds/header_bg.jpg');
    background-size: cover;
    background-position: center;

  a {
    color: #eee;
    text-decoration: none;
  }

  a:visited {
    color: #eee;
  }

  .bg-top-10 {

    background-color: transparent;
    padding: 5px;
    padding-left: 10px;
    border-radius: 4px;
    color: white;
    box-shadow: none;
    h1 {
      font-size: 20px;
      color: #eee;
    }
  }

  h1 {
    font-weight: 200;
    text-align: left;
    font-size: 2.0em;
  }

}

.get-started {
  background: linear-gradient(60deg, #ff5f6d, #ffc371);
}
