@import "bootstrap-sprockets";
@import "bootstrap";




/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;

}


/* universal */

body {
  background-color: #fff;
  padding: 0px;
  padding-top: 65px;
  padding-bottom: 0px;
  font-family: 'myriad-pro' , sans-serif;
  font-weight: 300;

}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

table {
  width: 800px;
}

th, td {
  padding: 7px 10px 10px 10px;
}

a {
  color: $gray;
}

.tab {
  margin-left: 20px;
}

.doubletab {
  margin-left: 40px;
}

.tripletab {
  margin-left: 60px;
}

.center {
  text-align: center;
}

.header {
  border-bottom: 1px solid $gray-lighter;
}


.center {
  background-color: rgba(255,255,255, 0.7);
  color: inherit;

  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 0px;
    text-align: center;
    width:100%;
  }
}

.dropdown-menu > li > a{
  display: inline;
}

.badge-red {
  background-color: #FF5733;
}

.bg-gray {
  background-color: $gray-lighter;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  opacity: 50%;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

li {
  list-style: none;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

#logo-black {
  font-size: 4.7vw;
  text-transform: uppercase;
  letter-spacing: -2px;
  padding-top: 9px;
  font-weight: 700;
}

.img-beta-icon {
   width: 25px;
   height: 25px;
   background-size: cover;
   display: inline;
   margin-right: 10px;
}

.navbar-img-collapsed {
  margin-right: 100px;
  padding: 0;
  vertical-align: bottom;
}



/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
  color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }

/* Miscellaneous */

.debug_dump {
  clear:  both;
  float:  left;
  width:  100%;
  margin-top: 45px;
  @include box_sizing;
  }
}

/* Form Styling */

input[type=text] {
    border-radius: 3px;
    box-shadow: none;
}

textarea[type=text] {
  border-radius: 3px;
  box-shadow: none;
}

.form-label {
  font-family: 'Oswald', sans-serif;
}


/* headliner */

.chart-header {
  list-style: none;
  font-style: normal;
  font-weight: 300;

  h1 {
    font-size: 1.7em;
    letter-spacing: -1px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 300;
    color: $gray;
    h3 {
      text-align: right;
    }
  }
}

.headliner-line {
  list-style: none;
  font-style: normal;
  font-weight: 300;
  h1 {
    font-size: 1.7em;
    letter-spacing: -1px;
    margin-bottom: 1px;
    font-weight: 300;
    text-align: left;
    color: $gray-darker;
    border-bottom: 1px solid $gray-lighter;
  }
}

.form-gray {
  list-style: none;
  font-style: normal;
  font-weight: 300;
  h1 {
    font-size: 1.7em;
    letter-spacing: -1px;
    margin-bottom: 1px;
    font-weight: 300;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    color: $gray-darker;
    border-bottom: 1px solid $gray-light;
  }
}

.headliner {
  list-style: none;
  font-style: normal;
  font-weight: 300;
  display: inline;
  h1 {
    font-size: 1.7em;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 1px;
    text-align: left;
    color: $gray-darker;
  }

  .btn {
    display: inline;
    margin-top: 7px;
    align-self: auto;
  }
}


.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.form-background {
  background-color: #eee;
}



/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
  border-radius: 0;
}

input {
  height: auto !important;
  border-radius: 0;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}



#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Facilities index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.facilities {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.routes {
  list-style: none;
  margin: 0;
  h1 {
    font-size: 2.7em;
    letter-spacing: -2px;
    margin-bottom: 5px;
    text-align: left;
    font-weight: 700;
    border-bottom: 1px solid $gray-lighter;
    h3 {
      text-align: right;
    }

  }

  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 0px;
    font-weight: normal;
    text-align: left;
    color: $gray;
  }

  h3 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 0px;
    font-weight: normal;
    align: right;
    color: $gray;
  }

  p {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-top: 0px;
    font-weight: normal;
    text-align: left;
    color: $gray-light;
  }

  li {
    overflow: auto;
    padding: 10px 0;
  }
}

 /* -------  Subscription Plans ------- */

.plan-list {

  .lead { font-size: 33px;margin-bottom:0px; }

  h4 {
    font-family: 'Oswald', sans-serif;
  }

  btn {
    font-family: 'Oswald', sans-serif;
  }

  .panel-body {
    background: #ffffff;
    color: black;
  }

  .list-group {
    color: black;
  }

  .panel-free {
    background: $gray-medium-light;
    color: $gray-light;
    h4 {
      font-family: 'Oswald', sans-serif;
    }
  }

  .btn-plan-free {
    background: $gray-medium-light;
    color: $gray-light;
  }

  .panel-basic {
    background: #5499C7;
    color: #fff
  }

  .btn-plan-basic {
    background: #5499C7;
    color: #fff;
  }

  .panel-pro {
    background: #58D68D;
    color: #fff;
  }

  .btn-plan-pro {
    background: #58D68D;
    color: #fff;
  }

}

/* Homepage */

.home-body {
    background-image: url(asset-path('gym_climber.jpg'));
    background-size: cover;
    background-position: top right;
    padding: 50px;
}

.home-indoors {
    background-image: url(asset-path('indoors.jpg'));
    background-size: cover;
    background-position: center;
    padding: 50px;
}

.home-outdoors {
    background-image: url(asset-path('outdoors.jpg'));
    background-size: cover;
    background-position: top left;
    padding: 50px;
}

.home-social {
    background-image: url(asset-path('social.jpg'));
    background-size: cover;
    background-position: top right;
    padding: 50px;
}

.home-manage {
    background-image: url(asset-path('manage.jpg'));
    background-size: cover;
    background-position: right;
    padding: 50px;
}

.signup {
  letter-spacing: 0px;
  margin-bottom: 0px;
  text-align: left;
  color: $gray;
}

.bg-white {
  background-color: white;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  opacity: 50%;
}

/* Admin Homepage */

.admin-home-body {
    background-image: url(asset-path('gym_climber.jpg'));
    background-size: cover;
    background-position: top left;
    padding: 50px;
}

/* facilities */

.facilities {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .name {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

/* routes */

.routes {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .route {
    margin-top: 5em;
    padding-top: 0;
  }
  .name {
    display: block;
    margin-left: 60px;
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
}

/* users */

.img-profile-icon{
 width: 25px;
 height: 25px;
 background-size: cover;
 display: inline;
 margin-right: 10px;

}

.img-profile{
 width: 100px;
 height: 100px;
 background-size: cover;
 display: inline;
 vertical-align: bottom;
 margin-right: 10px;

}

.profile {
  list-style: none;
  h1 {
    display: inline;
    vertical-align: bottom;
    font-size: 1.7em;
    letter-spacing: -1px;
    margin-bottom: 1px;
    font-weight: 300;
    text-align: left;
    color: $gray-darker;
    border-bottom: 1px solid $gray-lighter;
  }


  p {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-top: 0px;
    font-weight: 300;
    text-align: left;
    color: $gray-light;
  }

  li {
      border-bottom: 1px solid $gray-medium-light;
  }
}

/* chart list */

.chartlist {
  vertical-align: bottom;
  list-style: none;
  padding: 0px;
  display: inline;
  font-weight: 300;
  font-size: 0.8em;
  letter-spacing: 0.0px;
  color: $gray-light;
  li {
    margin-bottom: 5px;
    padding: 0px 0;
    border-top: 1px solid $gray-lighter;
    position: relative;
    margin-top: 5px;

  }
  p {
    font-size: 1.7em;
    letter-spacing: -1px;
    margin-top: 0px;
    font-weight: 300;
    text-align: left;
    color: $gray-light;
  }
}

/* Marketing */

.marketing {
  vertical-align: bottom;
  list-style: none;
  padding: 0px;
  display: inline;
  font-weight: 300;
  font-size: 1.0em;
  color: $gray;
  li {
    margin-bottom: 5px;
    padding: 0px 0;
    border-top: 1px solid $gray-lighter;
    position: relative;
    margin-top: 5px;

  }
  p {
    font-size: 1.7vw;;
    letter-spacing: -1px;
    margin-top: 0px;
    font-weight: 300;
    text-align: left;
    color: $gray;
  }

  h1 {
    font-family: 'Oswald', sans-serif;
    color: $gray;
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: -0.0px;
    margin-bottom: 5px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid $gray-lighter;
    h3 {
      text-align: right;
    }
  }

  .center {
    text-align: center
  }
}

/* Marketing Mobile */

.marketing-mobile {
  text-align: center;
  vertical-align: bottom;
  list-style: none;
  padding: 0px;
  display: inline;
  font-weight: 300;
  font-size: 1.0em;
  color: $gray;
  li {
    margin-bottom: 5px;
    padding: 0px 0;
    border-top: 1px solid $gray-lighter;
    position: relative;
    margin-top: 5px;

  }
  p {
    font-size: 3.1vw;;
    letter-spacing: -1px;
    margin-top: 0px;
    font-weight: 300;
    text-align: left;
    color: $gray;
  }

  h1 {
    font-family: 'Oswald', sans-serif;
    color: $gray;
    font-size: 2.0em;
    font-weight: bold;
    letter-spacing: -0.0px;
    margin-bottom: 5px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid $gray-lighter;
    h3 {
      text-align: right;
    }
  }

  .tab {
    margin-left: 10px;
  }
}

/* route list filter */

.filter {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Oswald', sans-serif;
}


/* route list */

.routelist {
  vertical-align: bottom;
  list-style: none;
  padding: 0px;
  display: inline;
  font-weight: 300;
  font-size: 0.8em;
  letter-spacing: 0.0px;
  color: $gray-light;
  li {
    margin-bottom: 5px;
    border-left: 7px solid #e2e2e2;
    position: relative;
    diplay: inline-block;
    a {
    }

    h1 {
      color: #52BE80;
      font-size: 3em;
      letter-spacing: -2px;
      margin-bottom: 5px;
      text-align: left;
      border-bottom: 1px solid $gray-lighter;
      h3 {
        text-align: right;
      }

    }

  }
  .grade {
    margin-top: 5em;
    padding-top: 0;
  }
  .info {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-medium-light;
    display: block;
    margin-left: 0px;
    font-weight: 300;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }

  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 5px;
    text-align: left;
    border-bottom: 1px solid $gray-lighter;
    h3 {
      text-align: right;
    }

  }

  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 0px;
    font-weight: 300;
    text-align: left;
    display: inline;
    color: $gray-light;
  }

  h3 {
    font-size: 2em;
    letter-spacing: 0.5px;
    margin-bottom: 0px;
    font-weight: lighter;
    font-family: 'Oswald', sans-serif;
    display: inline;
    text-align: left;
    color: $gray;
    margin-top: 0px;
  }

  h4 {
    font-size: 1.2em;
    letter-spacing: -.5px;
    margin-bottom: 0px;
    font-weight: lighter;
    text-align: left;
    letter-spacing: 0.8px;
    font-family: 'Oswald', sans-serif;
  }

  p {
    font-size: 1.7em;
    letter-spacing: -1px;
    margin-top: 0px;
    font-weight: 300;
    text-align: left;
    color: $gray-light;
  }

  li {
    overflow: auto;
    padding: 10px 0;
  }

  a {
    color: $gray;
    text-decoration: none;
  }

  .badge-today {
    font-size: 1em;
    font-weight: lighter;
    background-color: #58D68D;
  }

  .badge-week {
    font-size: 1em;
    font-weight: lighter;
    background-color: #58D68D;
  }
  .divider-line {
    border-top: 1px solid #f2f2f2;
    margin-bottom: 5px;
  }
  .red {
    border-left: 7px solid #FFCDD2;
  }

  .purple {
    border-left: 7px solid #D1C4E9;
  }

  .blue {
    border-left: 7px solid #BBDEFB;
  }

  .green {
    border-left: 7px solid #C8E6C9;
  }

  .yellow{
    border-left: 7px solid #FFF9C4;
  }

  .orange {
    border-left: 7px solid #FFE0B2;
  }

  .gray {
    border-left: 7px solid #e2e2e2;
  }

  .black {
    border-left: 7px solid #c2c2c2;
  }

  .white {
    border-left: 7px solid #F2F4F4;
  }

  .pink {
    border-left: 7px solid #F8BBD0;
  }

  .brown {
    border-left: 7px solid #BCAAA4;
  }

  .lime {
    border-left: 7px solid #F0F4C3;
  }
}



/* grades */

.grades {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
  }
  .grade {
    margin-top: 5em;
    padding-top: 0;
  }
  .grade {
    display: block;
    margin-left: 60px;
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* Glyphicons */
.glyphicon-remove {
  color: #B2BABB;
  transition-duration: 0.25s;
}

.glyphicon-remove:hover {
  color: #CD6155;
}

.glyphicon-trash {
  color: #B2BABB;
  transition-duration: 0.25s;
}

.glyphicon-trash:hover {
  color: #CD6155;
}



.glyphicon-cog {
  color: #B2BABB;
}

.glyphicon-cog:hover {
  color: #7F8C8D;
}

.glyphicon-green {
  color: #52BE80;
}

.glyphicon-gray {
  color: $gray-lighter;
}

.glyphicon-center {
  text-align: center;
}


/* Navbar */

.navbar-toggle {
  border-style: none;
}

.navbar-inverse div.navbar-collapse {
  border-top: none;
  box-shadow: none;
  background-color: transparent;
  li a{
    color: #aeaeae;
    font-size: 1.2em;
    letter-spacing: -0.0px;
    font-family: 'Oswald', sans-serif;
    &:hover {
      color: #ffffff;
    }
    }
}


/*-- change navbar dropdown color --*/
 .navbar-default .navbar-nav .open .dropdown-menu>li>a {
   background-color: transparent;
   font-size: 1.2em;
   font-family: 'Oswald', sans-serif;
   padding-top:  7px;
   padding-bottom: 7px;
   display: inline-block;
   &:hover {

   }
 }

 .navbar-default .navbar-nav .open .dropdown-menu {
   background: rgba(050, 050, 050, 0.9);
   opacity: 50%;
 }

 .navbar-default .navbar-nav .open .dropdown-menu .divider {
   background-color: $gray-darker;
 }


/*-- change navbar dropdown color --*/
 .navbar-inverse div.navbar-collapse .navbar-custom {
   li a {
     color: #ffffff;
     &:hover {
       color: $gray-darker
     }
   }
 }


.navbar-header {
  border-style: none;
}
#admin-header {
  .navbar {
    color: black;
    background-color: #ffffff;
    border-style: none;
    margin-left: 1px;
    .btn-primary, .btn-primary:hover, .btn-primary:active{
      color: #ffffff;
    }

  }
  .navbar-collapse {
    background-color: #ffffff;
  }
  .navbar-toggle {
    border-style: none;
    float: left;
  }
}

@media (min-width: 768px){

    .navbar-nav{
        float:none;
        margin: 0px auto;
        display: table;
        table-layout: fixed;
        margin-bottom: 0px;
    }
    li a {
      color: $gray;
      &:hover {
        color: $gray-darker;
      }
      }

      .navbar-default {
        border-style: none;
        font-weight: 300;
      }




}

.adminnavbar {
  body { padding-top: 0px;
  }
}

/* Buttons */

.btn, .btn-group {
  font-weight: normal;
  transition-duration: 0.5s;
  font-weight: 300;
  vertical-align: bottom;
  border-radius: 2px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;

}

.btn-group .dropdown-menu>li>a {
  background-color: transparent;
  font-size: 1.2em;
  color: $gray;
  padding-top:  7px;
  padding-bottom: 7px;
  display: inline-block;
  &:hover {
    color: $gray-light;
  }
}

.btn-submit{
  border-color: #52BE80;
  background: #52BE80;
  opacity: 1;
  color: #ffffff;
  transition-duration: 0.5s;
  letter-spacing: -0.0px;
}

.btn-submit:hover, .btn-submit:active{
  border-color: #58D68D;
  background: #58D68D;
  opacity: 1;
  color: #ffffff;
}

.btn-signup{
  border-color: #52BE80;
  background: #52BE80;
  opacity: 1;
  color: #ffffff;
  transition-duration: 0.5s;
  letter-spacing: -0.0px;
}

.btn-signup:hover, .btn-signup:active{
  border-color: #58D68D;
  background: #58D68D;
  opacity: 1;
  color: #ffffff;
}

.btn-save{
  border-color: #3498DB;
  background: #3498DB;
  opacity: 1;
  color: #ffffff;
  transition-duration: 0.5s;
  letter-spacing: -0.0px;
}

.btn-save:hover, .btn-save:active{
  border-color: #2471A3;
  background: #2471A3;
  opacity: 1;
  color: #ffffff;
}

.btn-addnew{
  background: #ffffff;
  border-color: $gray;
  opacity: 1;
  color: $gray;
}

.btn-addnew:hover{
  background: #ffffff;
  border-color: #3498DB;
  opacity: 1;
  color: $gray;
}

.btn-nav, .btn-nav:hover, .btn-nav:active{
  border-color: $gray-lighter;
  background: $gray-lighter;
  opacity: 1;
  color: $gray-light;
  transition-duration: 0.5s;
  letter-spacing: -0.0px;
}

.btn-create, .btn-create:hover, .btn-create:active{
  border-color: #3498DB;
  background: #3498DB;
  opacity: 1;
  color: white;
  transition-duration: 0.5s;
  letter-spacing: -0.0px;
}


.btn-onsight{
  background: #ffffff;
  border-color: #6bda8f;
  opacity: 1;
  color: #6bda8f;
}

.btn-onsight:hover{
  background: #6bda8f;
  border-color: #6bda8f;
  opacity: 1;
  color: #ffffff;
}


.btn-flash{
  background: #ffffff;
  border-color: #b6da6b;
  opacity: 1;
  color: #b6da6b;
}

.btn-flash:hover{
  background: #b6da6b;
  border-color: #b6da6b;
  opacity: 1;
  color: #ffffff;
}

.btn-redpoint{
  background: #ffffff;
  border-color: #da8f6b;
  opacity: 1;
  color: #da8f6b;
}

.btn-redpoint:hover{
  background: #da8f6b;
  border-color: #da8f6b;
  opacity: 1;
  color: #ffffff;
}

.btn-project{
  background: #ffffff;
  border-color: #da6bb6;
  opacity: 1;
  color: #da6bb6;
}

.btn-project:hover{
  background: #da6bb6;
  border-color: #da6bb6;
  opacity: 1;
  color: #ffffff;
}

/* Cancel subscription */

.btn-cancel{
  border-color: #CD6155;
  background: #CD6155;
  letter-spacing: 1px;
  color: white;
  display: inline-block;

}

.btn-expire{
  background: $gray-lighter;
  letter-spacing: 1px;
  opacity: 1;
  color: $gray-light;
  display: inline-block;

}

.btn-expire:hover, .btn-expired, .btn-expired:hover{
  background: #F1948A;
  color: #ffffff;
  display: inline-block;
}

.btn-tag, .btn-tagged:hover {
  background: $gray-lighter;
  opacity: 1;
  color: $gray-light;
  display: inline-block;
}

.btn-tag:hover, .btn-tagged {
  background: #c2c2c2;
  opacity: 1;
  color: #ffffff;
  display: inline-block;
  width: 100%;
}

.btn-edit, .btn-edit:hover{
  border-color: #ffffff;
  background: #ffffff;
  opacity: 1;
  color: $gray-light;
  margin-top: 5px;
}

.btn-danger, .btn-danger:hover {
    a {
      color: #ffffff;
    }
}

.btn-homeaction {
  background: #52BE80;
  color: $gray-lighter;
  font-size: 1.1em;
  letter-spacing: 1px;
}

.btn-homeaction:hover , .btn-homeaction:active{
  color: $gray-lighter;
  background: #52BE80;
}


.btn-facebook {
  background-image: url(asset-path('facebook-6-24.png'));
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: 'Oswald', sans-serif;
  font-size: 1.8vw;
  float: none;
  padding-left: 40px;
  background-color: #3b5998;
  color: #ffffff;
  border-width: thick;
  display: inline-block;
}

.btn-facebook:hover {
  background-color: #4e69a2;
  color: #ffffff;
}

.btn-google {
  background-image: url(asset-path('google-btn.png'));
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  float: none;
  padding-left: 40px;
  background-color: #4885ed;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-size: 1.8vw;
  border-width: thick;
  display: inline-block;
}

.btn-google:hover {
  color: #ffffff;
}

.btn-mobile {
  font-size: 3.2vw;
}


/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    ul {
      list-style: none;
    }
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    ul {
      list-style: none;
    }
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
    ul {
      list-style: none;
    }
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
    ul {
      list-style: none;
    }
 }

.list-group {

}

/*Check box in the middle of the text fix*/

.checkbox {
    width: 15px;
    height: 15px;
    float: left;
    vertical-align: middle;

}
.checkbox-inline {
    float: left;
    padding-left: 3px;
    margin-left: 10px;
    padding: 15px;
    vertical-align: middle;

}


/*target Internet Explorer 9 and Internet Explorer 10:*/
@media screen and (min-width:0\0) {
    select {
        background:none;
        padding: 5px;
    }
}

.list-group li:nth-child(1){
  border: 0 none;
  border-bottom: 1px solid $gray-lighter;
}

/* HEX

#8e44ad
#2980b9
#e74c3c
#e67e22
#f1c40f
#16a085

*/
