@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400|Raleway:200,300,400|Roboto:300,400|Architects+Daughter|Permanent+Marker');

/* Don't print link hrefs */
@media print {
  a[href]:after {
    content: none
  }
  .no-print, .no-print *
  {
      display: none !important;
  }
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}

@media (max-width: 420px) {
    .container {
      padding: 5px;
      margin: 5px;
    }

    body {
      padding: 0;
    }
  }


.highcharts-title {
    fill: #434348;
    font-weight: bold;
    letter-spacing: 0.3em;
    font-size: 3em;
}
.highcharts-subtitle {
    font-family: 'Oswald', monospace;
    font-style: italic;
    fill: #7cb5ec;
}

.container-fluid {
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 15px;
    padding-right: 15px;
}


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;

}


/* universal */

body {
  background-color: #fff;
  padding: 0px;
  padding-top: 65px;
  padding-bottom: 0px;
  font-family: sans-serif;
  font-weight: 300;

}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

table {
  width: 800px;
}

th, td {
  padding: 7px 10px 10px 10px;
}

a {
  color: $gray;
}

.tab {
  margin-left: 20px;
}

.doubletab {
  margin-left: 40px;
}

.task-tab {
  margin-left: 15px;
}

.tripletab {
  margin-left: 60px;
}

.right-tab {
  margin-right: 20px;
}

.center {
  text-align: center;
}

.header {
  border-bottom: 1px solid $gray-lighter;
}


.center {
  background-color: rgba(255,255,255, 0.7);
  color: inherit;

  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 0px;
    text-align: center;
    width:100%;

  }
}

.dropdown-menu > li > a{
  display: inline;
}

.scrollable-menu {
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
}

.badge-red {
  background-color: #FF5733;
}

.bg-gray {
  background-color: #eee;
  padding: 20px;
  border-radius: 4px;
}

.bg-blue-gradient {
  background-color: #eee;
  background: linear-gradient(to right, #00a69c, #1b75bb);
  padding: 20px;
  border-radius: 4px;
  color: white;
}

.bg-dark-gray {
  background-color: #aaa;
  padding: 20px;
  border-radius: 4px;
}

.bg-form {
  border: 1px solid #bbb;
  padding: 15px;
  border-radius: 6px;
  .divider-line{
    border-bottom: 1px solid #eee;
  }
}

.routeform-header {
  h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    display: inline;
    font-size: 2.0em;
    color: #444;
  }
}

.home-divider-line {
  border-top: 1px solid #aaa;
  margin-bottom: 10px;
  margin-top: 30px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

li {
  list-style: none;
}

/* header */

.logo>img {
  width: 20.0rem;
  padding: 5px;
  margin-bottom: -10px;
}

#logo-black {
  font-size: 4.7vw;
  text-transform: uppercase;
  letter-spacing: -2px;
  padding-top: 9px;
  font-weight: 700;
}

.img-beta-icon {
   width: 25px;
   height: 25px;
   background-size: cover;
   display: inline;
   margin-right: 10px;
}

.navbar-img-collapsed {
  margin-right: 100px;
  padding: 0;
  vertical-align: bottom;
}

.img-route-show {
  width: 100%;

}

.ratings {
  img {
    height: 25px;
    margin-top: 10px;
  }
  display: inline-block;
}

.raty-hints {
  display: none;
}

img.raty-cancel {
  display: none;
}




/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray-light;
    &:hover {
  color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
      a, a:hover {
        color: $gray-light;
        font-size: 12px;
        text-decoration: none;
      }
    }
  }

/* Miscellaneous */

.debug_dump {
  clear:  both;
  float:  left;
  width:  100%;
  margin-top: 45px;
  @include box_sizing;
  }
}

/* Form Styling */

input[type=text] {
    border-radius: 3px;
    box-shadow: none;
    font-size: 16px;
}

textarea[type=text] {
  border-radius: 3px;
  box-shadow: none;
  font-size: 16px;
}

.form-label {
  font-family: 'Oswald', sans-serif;
}

.badge-today {
  font-size: 0.8em;
  font-weight: lighter;
  background-color: #58D68D;
  font-family: sans-serif;
  margin-left: 3px;
  vertical-align: middle;
}


.signup-form {

  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 6px;
  font-family: 'Montserrat', sans-serif;

  h1 {
    margin-top: 5px;
    font-size: 2.0em;
    color: #000;
    opacity: 0.6;
  }
  p {
    font-size: 1.3em;
    color: #000;
    opacity: 0.5;
    text-align: center;
  }
  .divider-line {
    border-top: 1px solid #f2f2f2;
    margin-bottom: 5px;
  }
  label {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    opacity: 0.5;
  }



}

/* Modal Styling */

.modal { -webkit-overflow-scrolling: auto; }


.modal-body {
  input, select, textarea {
      font-size: 16px;
  }
}


.modal-title {
  font-size: 1.7em;
  letter-spacing: -1px;
  font-weight: 300;
  h4 {
    display: inline-block;
    font-weight: 300;
    color: rgba(0,0,0, 0.5);
    small {
      color: $gray-light;
      font-family: 'Lato', sans-serif;
    }
  }
}

.modal-header {
  background-image: url(asset-path('white_vector_banner.jpg'));
  background-size: cover;
  background-position: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.close {
float: right;
font-size: 30px;
}






/* headliner */

.chart-header {
  list-style: none;
  font-style: normal;
  font-weight: 300;

  h1 {
    font-size: 1.7em;
    letter-spacing: -1px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 300;
    color: $gray;
    h3 {
      text-align: right;
    }
  }
}

.headliner-line {
  list-style: none;
  font-style: normal;
  font-weight: 300;
  h1 {
    font-size: 1.7em;
    letter-spacing: -1px;
    margin-bottom: 1px;
    font-weight: 300;
    text-align: left;
    color: $gray-darker;
    border-bottom: 1px solid $gray-lighter;
  }
}

.form-gray {
  list-style: none;
  font-style: normal;
  font-weight: 300;
  h1 {
    font-size: 1.7em;
    letter-spacing: -1px;
    margin-bottom: 1px;
    font-weight: 300;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    color: #777;
    border-bottom: 1px solid #bbb;
  }
}

.headliner {
  list-style: none;
  font-style: normal;
  font-weight: 300;
  display: inline;
  h1 {
    font-size: 1.7em;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 1px;
    text-align: left;
    color: $gray-darker;
  }

  .btn {
    display: inline;
    margin-top: 7px;
    align-self: auto;
  }
}


.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.form-background {
  background-color: #eee;
}



/* forms */

.devise-logo {
  width: 30%;
  margin: auto;
  display: block;
  margin-bottom: 15px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
  border-radius: 0;
}

input {
  height: auto !important;
  border-radius: 0;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}



#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Facilities index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.facilities {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.routes {
  list-style: none;
  margin: 0;
  h1 {
    font-size: 2.7em;
    letter-spacing: -2px;
    margin-bottom: 5px;
    text-align: left;
    font-weight: 200;
    border-bottom: 1px solid $gray-lighter;
    text-transform: uppercase;
    color: #444;
    h3 {
      text-align: right;
    }

  }

  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 0px;
    font-weight: normal;
    text-align: left;
    color: $gray;
  }

  h3 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 0px;
    font-weight: normal;
    align: right;
    color: $gray;
  }

  p {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-top: 0px;
    font-weight: normal;
    text-align: left;
    color: $gray-light;
  }

  li {
    overflow: auto;
    padding: 10px 0;
  }

  .badge-demo {
    font-size: 0.7em;
    font-weight: lighter;
    background-color: #888;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.4px;
  }

  .badge-role {
    font-size: 0.7em;
    font-weight: lighter;
    background-color: #6bb0de;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.4px;
  }
}

 /* -------  Subscription Plans ------- */

.plan-list {

  .lead { font-size: 33px;margin-bottom:0px; }

  h4 {
    font-family: 'Oswald', sans-serif;
  }

  btn {
    font-family: 'Oswald', sans-serif;
  }

  .panel-body {
    background: #ffffff;
    color: black;
  }

  .list-group {
    color: black;
  }

  .panel-free {
    background: $gray-medium-light;
    color: $gray-light;
    h4 {
      font-family: 'Oswald', sans-serif;
    }
  }

  .btn-plan-free {
    background: $gray-medium-light;
    color: $gray-light;
  }

  .panel-basic {
    background: #5499C7;
    color: #fff
  }

  .btn-plan-basic {
    background: #5499C7;
    color: #fff;
  }

  .panel-pro {
    background: #58D68D;
    color: #fff;
  }

  .btn-plan-pro {
    background: #58D68D;
    color: #fff;
  }

}

/* Homepage */

.home-body {
    margin-top: -90px;
}

.home-indoors {
    background-image: url(asset-path('indoors.jpg'));
    background-size: cover;
    background-position: center;
    padding: 50px;
}

.home-outdoors {
    background-image: url(asset-path('outdoors.jpg'));
    background-size: cover;
    background-position: top left;
    padding: 50px;
}

.home-social {
    background-image: url(asset-path('social.jpg'));
    background-size: cover;
    background-position: top right;
    padding: 50px;
}

.home-manage {
    background-image: url(asset-path('manage.jpg'));
    background-size: cover;
    background-position: right;
    padding: 50px;
}

.signup {
  letter-spacing: 0px;
  margin-bottom: 0px;
  text-align: left;
  color: $gray;
}

.bg-white {
  background-color: #eee;
  padding: 20px;
  border-radius: 4px;
}

.bg-vector {
  background-image: url(asset-path('white_vector.png'));
  background-size: cover;
  background-position: center;

}

.bg-gray-gradient {
  background: linear-gradient(#fff, #ccc);
  background-size: cover;
  background-position: center;
  border-radius: 4px;

}

.carousel  {
  .item {
    min-width: 100%;
  }
}

/* Makes carousel expand the picture on larger screens */
@media (min-width:641px) {
  .carousel  {
    .item {
    	height: 500px;
    	min-width: 100%;
    }
  }

  .carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
  }
}

.carousel-caption {
  top: 0%;
  @media (max-width:320px) {
  top: -5.5%;
  }
  @media (min-width:641px) {
  top: 20%;
  }
  bottom: auto;
  text-shadow: none;
  .box {
    padding: 5px 5px 60px 5px;
    @media (min-width:641px) {
    top: 20%;
    padding: 40px 50px 70px 50px;
    }
    background-color: #000;
    opacity: 0.7;
    border-radius: 6px;
    top: 30%;
    bottom: auto;
    h1 {
      font-size: 2.2rem;
      @media (min-width:641px) {
      font-size: 4.0rem;
      }
      font-family: sans-serif;
      font-weight: 700;
      color: #bbb;
    }
    h2 {
      font-size: 3.0vw;
      color: #eee;
      @media (min-width:641px) {
      font-size: 1.5rem;
      color: #bbb;
      font-weight: 300;
      }
      font-family: 'Lato', sans-serif;
    }
    h3 a{
      font-size: 3.2vw;
      @media (min-width:641px) {
      font-size: 2.0rem;
      font-weight: 300;
      }
      font-family: 'Lato', sans-serif;
      color: #e2d512;
      text-decoration: none;
    }
    .photo-credit {
      padding-top: 30px;
      margin-bottom: -58px;
      margin-right: -0px;
      font-family: 'Lato', sans-serif;
      font-size: 0.6rem;
      color: #fff;
      @media (min-width:641px) {
      font-size: 1.0rem;
      padding-top: 30px;
      margin-bottom: -65px;
      margin-right: -40px;
      color: #bbb;
      }
      text-align: right;

    }
  }
}

.carousel-control.right,
.carousel-control.left {
	background-image: none;
}




/* Admin Homepage */

.admin-home-body {
    background-image: url(asset-path('gym_climber.jpg'));
    background-size: cover;
    background-position: top left;
    padding: 50px;
}

/* facilities */

.facilities {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .name {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

/* routes */

.routes {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .route {
    margin-top: 5em;
    padding-top: 0;
  }
  .name {
    display: block;
    margin-left: 60px;
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
}

/* users */

.img-profile-icon{
 width: 25px;
 height: 25px;
 background-size: cover;
 display: inline;
 margin-right: 10px;

}

.img-profile{
 width: 100px;
 height: 100px;
 background-size: cover;
 display: inline;
 vertical-align: bottom;
 margin-right: 10px;

}

.img-setter-icon{
 width: 25px;
 height: 25px;
 vertical-align: bottom;
 background-size: cover;
 display: inline;
 margin-left: 10px;
 border-radius: 2px;
 opacity: .75;


}

.profile {
  list-style: none;
  h1 {
    display: inline;
    vertical-align: bottom;
    font-size: 1.7em;
    letter-spacing: -1px;
    margin-bottom: 1px;
    font-weight: 300;
    text-align: left;
    color: $gray-darker;
    border-bottom: 1px solid $gray-lighter;
  }


  p {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-top: 0px;
    font-weight: 300;
    text-align: left;
    color: $gray-light;
  }

  li {
      border-bottom: 1px solid $gray-medium-light;
  }
}

/* chart list */

.chartlist {
  vertical-align: bottom;
  list-style: none;
  padding: 0px;
  display: inline;
  font-weight: 300;
  font-size: 0.8em;
  letter-spacing: 0.0px;
  color: $gray-light;
  li {
    margin-bottom: 5px;
    padding: 0px 0;
    border-top: 1px solid $gray-lighter;
    position: relative;
    margin-top: 5px;

  }
  p {
    font-size: 1.0em;
    padding: 0px;
    letter-spacing: -0.0px;
    margin-top: 0px;
    font-weight: 300;
    text-align: left;
    color: $gray-light;
  }
}

/* Marketing */

.marketing {
  vertical-align: bottom;
  list-style: none;
  padding: 0px;
  display: inline;
  font-weight: 300;
  font-size: 1.0em;
  color: $gray;
  li {
    margin-bottom: 5px;
    padding: 0px 0;
    border-top: 1px solid $gray-lighter;
    position: relative;
    margin-top: 5px;

  }
  p {
    font-size: 1.7vw;;
    letter-spacing: -1px;
    margin-top: 0px;
    font-weight: 300;
    text-align: left;
    color: $gray;
  }

  h1 {
    font-family: 'Oswald', sans-serif;
    color: $gray;
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: -0.0px;
    margin-bottom: 5px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid $gray-lighter;
    h3 {
      text-align: right;
    }
  }

  .center {
    text-align: center
  }
}

/* Marketing Mobile */

.marketing-mobile {
  text-align: center;
  vertical-align: bottom;
  list-style: none;
  padding: 0px;
  display: inline;
  font-weight: 300;
  font-size: 1.0em;
  color: $gray;
  li {
    margin-bottom: 5px;
    padding: 0px 0;
    border-top: 1px solid $gray-lighter;
    position: relative;
    margin-top: 5px;

  }
  p {
    font-size: 3.1vw;;
    letter-spacing: -1px;
    margin-top: 0px;
    font-weight: 300;
    text-align: left;
    color: $gray;
  }

  h1 {
    font-family: 'Oswald', sans-serif;
    color: $gray;
    font-size: 2.0em;
    font-weight: bold;
    letter-spacing: -0.0px;
    margin-bottom: 5px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid $gray-lighter;
    h3 {
      text-align: right;
    }
  }

  .tab {
    margin-left: 10px;
  }
}

/* Marketing Checkout */

.marketing-checkout {
  text-align: center;
  vertical-align: bottom;
  list-style: none;
  padding: 0px;
  display: inline;
  font-weight: 300;
  font-size: 12px;
  color: $gray;
  li {
    margin-bottom: 5px;
    padding: 0px 0;
    border-top: 1px solid $gray-lighter;
    position: relative;
    margin-top: 5px;

  }
  p {
    font-size: 1.3vw;;
    letter-spacing: -1px;
    margin-top: 0px;
    font-weight: 300;
    text-align: left;
    color: $gray;
  }

  h1 {
    font-family: 'Oswald', sans-serif;
    color: $gray;
    font-size: 1.0em;
    font-weight: bold;
    letter-spacing: -0.0px;
    margin-bottom: 5px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid $gray-lighter;
    h3 {
      text-align: right;
    }
  }

  .tab {
    margin-left: 10px;
  }
}

/* route list filter */

.filter {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  label {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #888;
    font-weight: 200;
  }
  h2 {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    float: left;
  }
}

.gray-labels {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #444;
  label {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #444;
    font-weight: 200;
  }
  h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    color: $gray-light;
    text-align: left;
  }
  input[type=text] {
      border-radius: 3px;
      box-shadow: none;
      font-size: 16px;
      text-transform: uppercase;
  }

  textarea[type=text] {
    border-radius: 3px;
    box-shadow: none;
    font-size: 16px;
  }

  .divider-line {
    border-top: 1px solid #888;
    margin-bottom: 5px;
  }
}

/* route form */

.collapsing {
    -webkit-transition: none;
    transition: none;
}

.route-form {

  body {
      font-family:sans-serif;
  }

  #donate {
      margin:0px;
      float:left;
  }

  #donate label {
      float:left;
      width: auto;
      min-width: 50px;
      margin: 4px;
      border-radius:4px;
      display: inline-block;
      position: relative;
      overflow: hidden;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      letter-spacing: -0.5px;
      background-color: #fff;
      color: #fff;
      font-weight: 200;

  }

  #donate label span {
      text-align:center;
      font-size: 14px;
      padding: 8px;
      display: block;

  }

  #donate label input {
      position:absolute;
      top:-20px;
  }

  #donate input:checked + span {
      background-color:#444;
      color:#F7F7F7;
  }

  #donate .yellow {
      background-color:#e2d512;
      color:#333;
  }

  #donate .blue {
      background-color: #fff;
      color:#888;
  }

  #donate .pink {
      background-color:#FF33AA;
      color:#fff;
  }

  #donate .green {
      background-color:#2ECC71;
      color:#fff;
  }
  #donate .gray {
    background-color: #ddd;
    color: #888;
  }

  #donate .purple {
      background-color:#8833ff;
      color:#fff;
  }

}


/* route list */

.routelist {
  vertical-align: bottom;
  list-style: none;
  padding: 0px;
  display: inline;
  font-weight: 300;
  font-size: 0.7em;
  letter-spacing: -0.0px;
  color: #888;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  li {
    background-color: #eee;
    margin-bottom: 5px;
    border-left: 15px solid #444;
    position: relative;
    border-radius: 4px;
    a {
    }

    h1 {
      color: #52BE80;
      font-size: 3em;
      letter-spacing: -2px;
      margin-bottom: 5px;
      text-align: left;
      border-bottom: 1px solid $gray-lighter;
      font-family: 'Montserrat', sans-serif;
      h3 {
        text-align: right;
      }

    }


  }
  .grade {
    margin-top: 5em;
    padding-top: 0;
  }
  .info {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-medium-light;
    display: block;
    margin-left: 0px;
    font-weight: 300;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }

  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 5px;
    text-align: left;
    border-bottom: 1px solid $gray-lighter;
    h3 {
      text-align: right;
    }

  }

  h2 {
    font-size: 1.2em;
    letter-spacing: -0.5px;
    margin-bottom: 0px;
    font-weight: 300;
    text-align: left;
    display: inline;
    color: #888;
  }

  h3 {
    font-size: 2em;
    letter-spacing: -1.0px;
    margin-bottom: 0px;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    display: inline;
    text-align: left;
    color: #444;
    margin-top: 0px;
  }

  h4 {
    font-size: 1.2em;
    letter-spacing: -.5px;
    margin-bottom: 0px;
    font-weight: lighter;
    text-align: left;
    letter-spacing: 0.8px;
    font-family: 'Oswald', sans-serif;
  }

  p {
    font-size: 1.7em;
    letter-spacing: -1px;
    margin-top: 0px;
    font-weight: 300;
    text-align: left;
    color: $gray-light;
    margin-bottom: 0px;
    display: inline-block;
  }

  li {
    overflow: auto;
    padding: 10px 0;
  }

  a {
    color: $gray;
    text-decoration: none;
  }

  .badge-today {
    font-size: 1em;
    font-weight: lighter;
    background-color: #58D68D;
    font-family: sans-serif;
  }

  .badge-late {
    font-size: 1em;
    font-weight: lighter;
    background-color: #EF5350;
    font-family: sans-serif;
  }

  .badge-week {
    font-size: 1em;
    font-weight: lighter;
    background-color: #58D68D;
  }
  .divider-line {
    border-top: 1px solid #eee;
    margin-bottom: 5px;
  }
  .red {
    border-left: 15px solid rgba(239, 83, 80, 1);
  }

  .purple {
    border-left: 15px solid rgba(126, 87, 194, 1);
  }

  .blue {
    border-left: 15px solid rgba(41, 128, 185, 1);
  }

  .green {
    border-left: 15px solid rgba(22, 176, 133, 1);
  }

  .yellow{
    border-left: 15px solid rgba(253, 216, 53, 1);
  }

  .orange {
    border-left: 15px solid rgba(255, 152, 0, 1);
  }

  .gray {
    border-left: 15px solid #e2e2e2;
  }

  .black {
    border-left: 15px solid $gray;
  }

  .white {
    border-left: 15px solid #F2F4F4;
  }

  .pink {
    border-left: 15px solid rgba(255, 51, 170, 1);
  }

  .brown {
    border-left: 15px solid rgba(153, 102, 85, 1);
  }

  .lime {
    border-left: 15px solid rgba(205, 220, 57, 1);
  }

  .magenta {
    border-left: 15px solid rgba(255, 51, 153, 1);
  }

  .date-list li {
    background-color: #fff;
    color: #fff;
    border-left: 15px solid #fff;
    h3 {
      color: #888;
    }
  }
}

.routelist-header {
  h1{
    font-family: 'Montserrat', sans-serif;
    display: inline;
    font-size: 2.0em;
    color: #444;
    text-transform: uppercase;
    font-weight: 200;
  }
}

/* route show */

.routeshow {
  h1 {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    border: none;
    color: $gray;
    font-weight: 200;
  }
  h2 {
    display: inline-block;
    letter-spacing: -0.4px;
  }
  p {
    font-size: 1.2em;
    letter-spacing: 0.0px;
  }
  li {
    margin-left: -15px;
  }

  .img-setter-icon{
   width: 50px;
   height: 50px;
   vertical-align: bottom;
   background-size: cover;
   display: inline;
   margin-left: 10px;
   border-radius: 2px;
   opacity: .75;
   float: right;
  }

  .divider-line {
    border-top: 1px solid #888;
    margin-bottom: 5px;
  }

}



/* grades */

.grades {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
  }
  .grade {
    margin-top: 5em;
    padding-top: 0;
  }
  .grade {
    display: block;
    margin-left: 60px;
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* Glyphicons */
.glyphicon-remove {
  color: #B2BABB;
  transition-duration: 0.25s;
}

.glyphicon-remove:hover {
  color: #CD6155;
}

.glyphicon-trash {
  color: #B2BABB;
  transition-duration: 0.25s;
}

.glyphicon-trash:hover {
  color: #CD6155;
}



.glyphicon-cog {
  color: #B2BABB;
}

.glyphicon-cog:hover {
  color: #7F8C8D;
}

.glyphicon-green {
  color: #52BE80;
}

.glyphicon-gray {
  color: $gray-lighter;
}

.glyphicon-center {
  text-align: center;
}


/* Navbar */

.navbar {
    background-color: rgba(0,0,0,.8);
    border: none;
    margin-top: -1px;
    padding-top: 7px;
}

.navbar-nav li a {
    line-height: 50px;
    margin-bottom: -20px;
    border-color: transparent;
    @media (max-width: 768px) {
      line-height: 20px;
    }
    img {
      vertical-align: text-bottom;
    }
}

/* Navbar Mobile Hamburger Menu */

.navbar .navbar-toggle {
  border-color: transparent; /* Removes border color */
}

.navbar .navbar-toggle .icon-bar {
  background-color: #ccc; /* Changes regular toggle color */
  color: #ccc;
}

.navbar .navbar-toggle:hover {
  background-color: transparent; /* Changes toggle color on hover */
}

.navbar .navbar-toggle .icon-bar:hover {
  background-color: #ccc; /* Changes toggle color on hover */
}

.navbar div.navbar-collapse {
  border-color: transparent;
  border-top: none;
  box-shadow: none;
  li a{
    color: #ccc;
    font-size: 1.0em;
    color: #fff;
    background-color: transparent;
    @media (max-width: 420px) {
        font-size: 1.1em;
        margin-bottom: 1px;
    }
    letter-spacing: -0.0px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    vertical-align: bottom;
    display: inline-block;
    font-weight: 200;
    &:hover {
      color: #fff;
      background-color: transparent;
    }
    &:focus {
      color: #fff;
      background-color: transparent;
    }
    &:active {
      color: #fff;
      background-color: transparent;
    }
  }
}

.left-no-margin {
  margin-left:-20px;
}

/*-- change navbar dropdown color --*/

 .navbar .navbar-nav .open .dropdown-menu>li>a {
   font-family: 'Montserrat', sans-serif;
   font-size: 1.1em;
   -webkit-box-shadow: none;
   box-shadow: none;
   @media (max-width: 420px) {
       font-size: 1.3em;
       background-color: transparent;
       padding: 12px;
       padding-top: 12px;
   }
   padding-top:  7px;
   padding-bottom: 7px;
   display: inline-block;
   &:hover {

   }
 }

 .navbar .navbar-nav .open .dropdown-menu {
   background-color: rgba(0,0,0,.7);
   border: none;
   margin-top: -1px;

 }

.white>li>a {
   color: #aeaeae;
   opacity: 50%;
   &:hover {
      color: white;
   }
 }

 .navbar .navbar-nav .open .dropdown-menu .divider {
   background-color: $gray-darker;
 }


/*-- change navbar dropdown color --*/
 .navbar div.navbar-collapse .navbar-custom {
   li a {
     color: #ffffff;
     &:hover {
       color: #fff;
     }
   }
 }

.navbar-header {
  @media (max-width: 768px) {
    border-style: none;
    line-height: 55px;
    margin-bottom: 10px;
  }
}

.navbar-toggle {
    margin-top: 18px;
    margin-bottom: -10px;
}

#admin-header {
  .navbar-nav li a {
      line-height: 15px;
      &:hover {
        line-height: 15px;
      }
  }
  .navbar {
    color: black;
    background-color: #ffffff;
    border-style: none;
    margin-left: 1px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.4px;

    li>a {
      color: #999;
      margin-top: 3px;
      margin-bottom: 3px;
      font-size: 1.0em;
      @media (max-width: 420px) {
          font-size: 1.3em;
      }
    }
    .btn {
      font-size: 1.3em;
    }
    a:active, li:active, li:hover, a:hover, a:active{
      color: #666;
      background-color: transparent;

    }
    .btn-primary, .btn-primary:hover, .btn-primary:active{
      color: #ffffff;
    }

  }
  .navbar-collapse {
    background-color: #ffffff;
  }
  .navbar-toggle {
    border-style: none;
    float: left;
  }
}

.header-text {
  font-family: 'Lato', sans-serif;
  letter-spacing: -1.0px;
  li a{
    color: #eee;
  }

}

@media (min-width: 768px){

    .navbar-nav{
        float:none;
        margin: 0px auto;
        display: table;
        table-layout: fixed;
        margin-bottom: 0px;
    }
    li a {
      color: $gray;
      &:hover {
        color: $gray-darker;
        background-color: transparent;
      }
      }

      .navbar {
        border-style: none;
        font-weight: 300;
      }




}

.adminnavbar {
  body { padding-top: 0px;
  }
}

/* Buttons */

.btn, .btn-group {
  font-weight: normal;
  font-weight: 300;
  vertical-align: bottom;
  border-radius: 2px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;

}

.btn-group .dropdown-menu>li>a {
  background-color: transparent;
  font-size: 1.2em;
  color: $gray;
  padding-top:  7px;
  padding-bottom: 7px;
  display: inline-block;
  &:hover {
    color: $gray-light;
  }
}

.btn-submit{
  border-color: #52BE80;
  background: #52BE80;
  opacity: 1;
  color: #ffffff;
  transition-duration: 0.5s;
  letter-spacing: -0.0px;
}

.btn-submit:hover, .btn-submit:active{
  border-color: #58D68D;
  background: #58D68D;
  opacity: 1;
  color: #ffffff;
}

.btn-signup{
  border-color: #52BE80;
  background: #52BE80;
  opacity: 1;
  color: #ffffff;
  transition-duration: 0.5s;
  letter-spacing: -0.0px;
}

.btn-signup:hover, .btn-signup:active{
  border-color: #58D68D;
  background: #58D68D;
  opacity: 1;
  color: #ffffff;
}

.btn-demo{
  border-color: #FF33AA;
  background: #FF33AA;
  opacity: 1;
  color: #ffffff;
  transition-duration: 0.5s;
  letter-spacing: -0.0px;
}

.btn-demo:hover, .btn-demo:active{
  border-color: #FF33AA;
  background: r#FF33AA;
  opacity: 1;
  color: #ffffff;
}

.btn-save{
  border-color: #3498DB;
  background: #3498DB;
  opacity: 1;
  color: #ffffff;
  transition-duration: 0.5s;
  letter-spacing: -0.0px;
}

.btn-save:hover, .btn-save:active{
  border-color: #2471A3;
  background: #2471A3;
  opacity: 1;
  color: #ffffff;
}

.btn-addnew{
  background: $gray;
  border-color: $gray;
  opacity: 1;
  color: $gray-lighter;
}

.btn-addnew:hover{
  background: #ffffff;
  border-color: #3498DB;
  opacity: 1;
  color: $gray;
}

.btn-nav, .btn-nav:hover, .btn-nav:active{
  border-color: $gray-lighter;
  background: $gray-lighter;
  opacity: 1;
  color: $gray-light;
  letter-spacing: -0.0px;
  display: inline;
}

.btn-create, .btn-create:hover, .btn-create:active{
  border-color: #2e8ece;
  background: #2e8ece;
  opacity: 1;
  color: white;
  transition-duration: 0.5s;
  letter-spacing: -0.0px;
}

.btn-close, .btn-close:hover {
  background: #fff;
  opacity: 1;
  color: #444;
  letter-spacing: -0.0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  display: inline;
}

.btn-filter, .btn-filter:hover {
  background: #fff;
  opacity: 1;
  color: #444;
  letter-spacing: -0.0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}

.btn-photo, .btn-photo:hover {
  background: white;
  opacity: 1;
  color: $gray-light;
  letter-spacing: 0.0px;
}


.btn-onsight{
  background: #ffffff;
  border-color: #6bda8f;
  opacity: 1;
  color: #6bda8f;
}

.btn-onsight:hover{
  background: #6bda8f;
  border-color: #6bda8f;
  opacity: 1;
  color: #ffffff;
}


.btn-flash{
  background: #ffffff;
  border-color: #b6da6b;
  opacity: 1;
  color: #b6da6b;
}

.btn-flash:hover{
  background: #b6da6b;
  border-color: #b6da6b;
  opacity: 1;
  color: #ffffff;
}

.btn-redpoint{
  background: #ffffff;
  border-color: #da8f6b;
  opacity: 1;
  color: #da8f6b;
}

.btn-redpoint:hover{
  background: #da8f6b;
  border-color: #da8f6b;
  opacity: 1;
  color: #ffffff;
}

.btn-project{
  background: #ffffff;
  border-color: #da6bb6;
  opacity: 1;
  color: #da6bb6;
}

.btn-project:hover{
  background: #da6bb6;
  border-color: #da6bb6;
  opacity: 1;
  color: #ffffff;
}

/* Cancel subscription */

.btn-cancel{
  border-color: #CD6155;
  background: #CD6155;
  letter-spacing: 1px;
  color: white;
  display: inline-block;

}

.btn-expire{
  background: #fff;
  opacity: 1;
  color: #444;
  letter-spacing: 0.5px;
  opacity: 1;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-transform: uppercase;

}

.btn-expire:hover, .btn-expired, .btn-expired:hover{
  background: #EF5350;
  color: #ffffff;
  display: inline-block;
}

.btn-activate, .btn-completed:hover{
  background: #fff;
  letter-spacing: 0.5px;
  opacity: 1;
  color: #444;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  li a {
    color: $gray-light;
    display: block;
  }

}

.btn-activate:hover, .btn-completed{
  background: #58D68D;
  letter-spacing: 0.5px;
  opacity: 1;
  color: white;
  display: block;
  li a i {
    color: $gray-light;
    display: block;
  }

}

.btn-tag, .btn-tagged:hover, .btn-tag:hover {
  background: #fff;
  letter-spacing: 0.5px;
  opacity: 1;
  color: #444;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}

.btn-tagged {
  background: #c2c2c2;
  opacity: 1;
  color: #ffffff;
  display: inline-block;
  width: 100%;
}

.btn-edit, .btn-edit:hover{
  border-color: #ffffff;
  background: #ffffff;
  opacity: 1;
  color: $gray-light;
  margin-top: 5px;
}

.btn-danger, .btn-danger:hover {
    a {
      color: #ffffff;
    }
}

.btn-homeaction {
  background: #52BE80;
  color: $gray-lighter;
  font-size: 1.1em;
  letter-spacing: 1px;
}

.btn-homeaction:hover , .btn-homeaction:active{
  color: $gray-lighter;
  background: #52BE80;
}


.btn-facebook {
  background-image: url(asset-path('facebook-6-24.png'));
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  float: none;
  padding-left: 40px;
  background-color: #3b5998;
  color: #ffffff;
  border-width: thick;
  display: inline-block;
}

.btn-facebook:hover {
  background-color: #4e69a2;
  color: #ffffff;
}

.btn-google {
  background-image: url(asset-path('google-btn.png'));
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  float: none;
  padding-left: 40px;
  background-color: #4885ed;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  border-width: thick;
  display: inline;
}

.btn-google:hover {
  color: #ffffff;
}

.btn-mobile {
  font-size: 3.2vw;
}


/*flash*/
.alert-error {
    font-family: 'Montserrat';
    text-transform: uppercase;
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    ul {
      list-style: none;
    }
 }

.alert-alert {
    font-family: 'Montserrat';
    text-transform: uppercase;
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    ul {
      list-style: none;
    }
 }

.alert-success {
    font-family: 'Montserrat';
    text-transform: uppercase;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
    ul {
      list-style: none;
    }
 }

.alert-notice {
    font-family: 'Montserrat';
    text-transform: uppercase;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
    ul {
      list-style: none;
    }
 }

.list-group {

}

/*Check box in the middle of the text fix*/

.checkbox {
    width: 15px;
    height: 15px;
    float: left;
    vertical-align: middle;

}
.checkbox-inline {
    float: left;
    padding-left: 3px;
    margin-left: 10px;
    padding: 15px;
    vertical-align: middle;

}


/*target Internet Explorer 9 and Internet Explorer 10:*/
@media screen and (min-width:0\0) {
    select {
        background:none;
        padding: 5px;
    }
}

.list-group li:nth-child(1){
  border: 0 none;
  border-bottom: 1px solid $gray-lighter;
}

/* HEX

#8e44ad
#2980b9
#e74c3c
#e67e22
#f1c40f
#16a085

*/


/* HERO IMAGE - HEADER */

.hero-unit {
padding: 0px;/* CHANGE PADDING HERE*/
margin-bottom: 30px;
font-size: 18px;
font-weight: 200;
line-height: 30px;
color: inherit;
background-color: #fff; /* CHANGE BACKGROUND HERE*/
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
font-family: 'Montserrat', sans-serif;
h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-weight: 200;
}
}
