<% provide(:title, 'Edit routesetters') %>

<div class="container">
  <div class="routes">
    <h1>Route Setters</h1>
  </div>
  <br/>
    <div class="row">
      <div class="col-sm-6">
          <%= render 'admin/setters/form', object: @setters %>
    </div>
    <div class="col-sm-6">
      <%= render 'admin/setters/setter', object: @setters %>
    </div>
</div>
