<% provide(:title, 'Edit routesetters') %>

<div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="routes">
          <h1><small>Edit route setter</small></h1>
        </div>
          <%= render 'admin/setters/form', object: @setters %>
          <br/>
    </div>
    <div class="col-sm-6">
      <div class="routes">
        <h1><small>Route setters</small></h1>
      </div>
      <%= render 'admin/setters/setter', object: @setters %>
    </div>
</div>
