<% provide(:title, 'Route Setters') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="routes">
        <h1><small>Add new route setter</small></h1>
      </div>
      <%= render 'admin/setters/form', object: @setters %>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-sm-12">
      <%= render 'admin/setters/setter', object: @setters %>
    </div>
  </div>
</div>
