<% provide(:title, 'Add routesetters') %>

<div class="container">
  <br/>
    <div class="row">
      <div class="col-sm-6">
          <%= render 'admin/setters/form', object: @setters %>
    </div>
    <div class="col-sm-6">
      <%= render 'admin/setters/setter', object: @setters %>
    </div>
</div>
