<% provide(:title, 'Route Setters') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="headliner-line">
        <h1>Add new route setter</h1>
      </div>
      <%= render 'admin/setters/form', object: @setters %>
    </div>
  </div>
  <br/>
  <div class="col-sm-12">
    <div class="headliner">
      <h1>Route setting team</h1>
    </div>
    <%= render 'admin/setters/setter', object: @setters %>
  </div>
</div>
