<div class="container-fluid">
  <div class="col-md-6 col-md-offset-3">
    <h2>CLIMB | CONNECT</h2>

    <p>Hello <%= @resource.name %>!</p>

    <p>We're contacting you to notify you that your password has been changed.</p>

  </div>
</div>
