<div class="container-fluid">
  <div class="col-sm-12">
    <div class="container-fluid bg-gray">
      <div class="col-sm-6 col-md-5">
        <div class="row">
            <%= render 'admin/subscriptions/form2', object: @subscriptions %>
        </div>
      </div>
      <div class="col-sm-6 col-md-7 hidden-xs hidden-sm">
        <div class="marketing-checkout">
          <%= render 'admin/subscriptions/marketing_checkout' %>
        </div>
      </div>
    </div>
  </div>
</div>
