<% provide(:title, "Thank you!") %>

<div class="container">
  <div class="col-sm-12">
    <div class="routes">

      <div class="row">
        <div class="col-sm-6">
            <p>Card Token: <strong><%= @subscription.card_token %></strong></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
            <p>Customer ID: <strong><%= @subscription.customer_id %></strong></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
            <p>Subscription End Date: <strong><%= @subscription.end_date %></strong></p>
        </div>
        <div class="col-xs-4 col-sm-2">
          <%= button_to "Cancel", cancel_admin_facility_subscription_path(@facility, @subscription), class: "btn btn-cancel btn-xs", method: :cancel %>
        </div>
      </div>
    </div>
  </div>
</div>
