
<div class="headliner">
  <h1>Facility grades</h1>
</div>

  <% @grades.each do |f| %>
  <ol class="routelist">
    <li>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4">
            <p><%= f.grade %></p>
          </div>
          <div class="col-sm-6">
              <p><%= f.routes.current.count %>  active routes</p>
          </div>
        </div>
      </div>
    </li>
  </ol>
  <% end %>
