  <div class="row">
  </div>

  <br />

  <%= div_for(@grades) do |f| %>
  <ol class="routelist">
    <li>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4">
            <h3><small><%= f.grade %></small>
            </h3>
          </div>
          <div class="col-sm-6">
              <h3><%= f.routes.current.count %>  <small>active routes</small></h3>
          </div>
        </div>
      </div>
    </li>
  </ol>
  <% end %>
