<% provide(:title, 'Grades') %>

<div class="container">
  <br/>
  <div class="row">
    <div class="col-sm-6">
        <%= render 'admin/grades/form', object: @grades %>
    </div>
    <div class="col-sm-6">
      <%= render 'admin/grades/grade', object: @grades %>
    </div>
  </div>
</div>
