<% provide(:title, 'Facility Grading') %>

<div class="container-fluid">
  <div class="row">
    <div class="routelist-header">
      <h1> Grading </h1>
        <span class="pull-right">
          <%= mail_to "lee@climbconnect.com", "Request custom grading", remote: false, class: "btn btn-close", style: "display: inline-block;" %>
        </span>
      <div class="divider-line"></div>
    </div>
  </div>
  <div class="row">
    <%= render 'admin/grades/facility_grade_system', object: @grade_systems %>
  </div>
</div>
