<% provide(:title, 'Facility Grading') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <%= render 'admin/grades/facility_grade_system', object: @grade_systems %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <%= render 'admin/grades/grade', object: @grades %>
    </div>
  </div>
</div>
