<% provide(:title, 'Grades') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="routes">
        <h1><small>Add grade</small></h1>
      </div>
        <%= render 'admin/grades/form', object: @grades %>
    </div>
    <div class="col-sm-12">
      <%= render 'admin/grades/grade', object: @grades %>
    </div>
  </div>
