<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="">
        <h1>Select a plan for your facility</h1>
      </div>
      <%= render 'plans/plans', object: @plans %>
    </div>
  </div>
</div>
