<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @invitee.email %>,</h1>
    <p>
      You've been invited to join <%= @invitee.facility.name %> on Climb Connect.<br>
    </p>
    <p>
      Please access the link below to create an account and confirm your role.<br>
    </p>

    <p>
      <%= @url %><br>
    </p>
    <p>
      <i>Please note: Your Climb Connect login must be linked to <%= @invitee.email %> in order to confirm your role.</i><br>
    </p>
    <p>
      Thanks for using Climb Connect. Have an awesome day and please don't respond to this email.  It was sent by a robot.<br>
    </p>
  </body>
</html>
