<% provide(:title, 'Facility Team') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="headliner-line">
        <h1>Invite team members</h1>
      </div>
      <%= render 'admin/facility_roles/form', object: @facility_roles %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="headliner">
        <h1>Facility Team</h1>
      </div>
      <%= render 'admin/facility_roles/facility_role', object: @facility_roles %>
    </div>
  </div>
</div>
