<% provide(:title, @facility.name ) %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">

      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
              <%= render 'admin/competitions/edit_partial' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
