

  <footer class="footer no-margin">
    <br>

    <div class="social-container">
      <ul class="social-icons">
          <li><a href="http://www.instagram.com/climbconnect" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li><a href="http://www.facebook.com/climbconnect" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="mailto:tim@climbconnect.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
      </ul>
    </div>

    <small>
      <span><%= link_to (image_tag 'https://s3-us-west-2.amazonaws.com/climbconnect-assets/logos/cc-white-horizontal.svg', alt: 'Climb Connect Logo'),
      root_path,
      class: 'logo' %></span>
    </small>
    <br>
    <br>

    <p>© <%= Date.current.strftime('%Y') %></p>
    <br>
  </footer>
