

  <footer class="footer">
    <small>
      <span class="tab">© Climb Connect 2017
    </small>




    <nav>
      <ul>
        <span class="right-tab"><li><%= mail_to "lee@climbconnect.com", "Contact" %></li></span>
      </ul>
    </nav>
  </footer>
